<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
        <META HTTP-EQUIV="expires" CONTENT="0">
        <title>Open Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/jquery-3.2.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <script src="/static/lib/xadmin/js/echarts.min.js"></script>
        <script src="/static/lib/xadmin/js/ecStat.js"></script>
        <scripttype="text/javascript" src="/static/lib/jquery-3.2.1.js"></script>
        <scripttype="text/javascript" src="/static/lib/jquery-3.2.1.min.js"></script>
    </head>
    <body>
    
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div style="font-weight:700; font-size:20px;color:#555555">Open Intent Discovery</div>
                        <div style="color:#6F6F6F">--Here,you can find fine-grained open classes. </div>
                            <form class="layui-form" enctype="multipart/form-data">

                                    <div class="layui-input-inline">
                                        <div class="layui-input-inline ">
                                            <div class="layui-form-item" style="position: relative;left: 57%">
                                                <select id = 'dataset_select_discovery' name="dataset_select_discovery" lay-filter="dataset_select_discovery" onclick="switchBySelect()"> 
                                                    <option value='0' selected>Dataset</option>
                                                    {% for lines in dataset_list %}
                                                        <option  value="{{lines.dataset_id}}" >{{lines.dataset_name}}</option>
                                                    {% endfor %}
                                                    <!-- {% for lines in dataset_list %}
                                                        {% if lines.dataset_name == 'banking' %}
                                                        <option selected  value="{{lines.dataset_id}}" >{{lines.dataset_name}}</option>
                                                        {% endif %}
                                                        
                                                        {% if lines.model_name != 'banking' %}
                                                        <option  value="{{lines.dataset_id}}" >{{lines.dataset_name}}</option>
                                                        {% endif %}
                                                    {% endfor %} -->
                                                    <!-- <option disabled>Dataset</option>
                                                    {% for lines in dataset_list %}
                                                        <option  value="{{lines.dataset_id}}" >{{lines.dataset_name}}</option>
                                                    {% endfor %} -->
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-input-inline">
                                            <div class="layui-form-item" style="position: relative;left: 77%">
                                                <select id="model_discovery" name="model_discovery">
                                                    <option selected>Open Intent Discovery</option>
                                                    {% for lines in modelList_discovery %}
                                                        <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                    {% endfor %}
                                                    <!-- {% for lines in modelList_discovery %}
                                                        {% if lines.model_name == 'DeepAligned' %}
                                                        <option selected  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endif %}
                                                        {% if lines.model_name != 'DeepAligned' %}
                                                        <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endif %}
                                                    {% endfor %} -->
                                                </select>
                                            </div>
                                        </div>
                                        


                                        <div class="layui-input-inline">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item" style="position:relative">
                                                    <button class="layui-btn" lay-filter="discovery_test"  lay-submit="" style="position: relative;left: 400%">Test</button>
                                                </div>
                                            </div>

                                            <div class="layui-input-inline">
                                                <div class="layui-form-item" style="position:relative">
                                                    <button class="layui-btn layui-btn-danger"   style="position: relative;left: 600%" type ='reset'>Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </form>
    
                            <div style="font-weight:700; font-size:20px;color:#555555">Analysis of Model Results</div>
                            <div style="color:#6F6F6F">--Show the model results of discovered open intents.</div>
                            <div class="layui-card-body ">
                                <table class="layui-table layui-form" id="classTable" lay-filter="demoEvent" >
                                </table>
                            </div>

                            <div >
                                    <div class="layui-input-inline ">
                                        <div class="layui-input-inline " style = "left:0%">
                                                <div style="font-weight:700; font-size:20px;color:#555555">Distribution Of Intents</div>
                                                <div style="color:#6F6F6F">--Show the distribution of intents.</div>
                                                <div class="layui-fluid" style=" display: flex; justify-content: center;">
                                                        <div class="layui-row">
                                                            <div class="layui-card">
                                                                <div class="layui-card-body "style="display: flex;justify-content:center;">
                                                                <!-- <a id="download" href="">Download</a> -->
                                                                    <div id="image1" style="width: 700px;height:700px;"></div>
                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <!-- <div class="layui-input-inline " style="left:25%">                                           
                                            <div style="font-weight:700; font-size:20px;color:#555555">Recommended Labels</div>
                                            <div style="color:#6F6F6F">--Recommend tags for each intent type.</div>
                                            <div class="layui-fluid">
                                                    <div class="layui-row">
                                                        <div class="layui-card">
                                                            <div class="layui-card-body ">
                                                                <div id="image2" style="width: 400px;height:400px;"></div>
                                                            
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>



        <script>layui.use(['form', 'layer','jquery', 'table'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                table = layui.table;

                var classTable = table.render({
                    elem: "#classTable",
                    url: '/discovery/model_analysis/model_analysis_getClassListByDatasetNameAndMethod',
                    cellMinWidth: 80,
                    page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                        //,curr: 5 //设定初始在第 5 页
                        ,first: 'first'
                        ,last: 'last'
                        ,limit: '5'
                        ,curr: '1'
                        
                    },
                    cols: [[
                        {field: 'label_name', title: 'Open Intents (Keyword, Confidence Score)' ,event: 'sub_open', align: 'left', templet: function(d) {
                            label_name_tmp = d.label_name;
                            if (d.label_name == "<UNK>" || d.label_name == "oos"){
                                label_name_tmp = "< UNK >"
                            }

                            return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + label_name_tmp + '<i style="left: 0px;" lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                        }}
                        ,{field: 'label_text_num', title: 'Numbers' ,width:'20%', align: 'center'}
                    ]]
                    ,where:{
                        "dataset_name": "banking",
                        "method": "DeepAligned"
                    }
                });

                //监听单元格事件
                table.on('tool(demoEvent)', function(obj){
                    var data = obj.data;
                    // console.log(data)
                    if(obj.event === 'sub_open' && data.label_name != undefined ){
                        //layer.msg('145:点击了sub_known')
                        // 打开折叠面板，显示对应信息
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table ></table>' //内容
                        var optionForText = getOptionsForTextTableOfOpen(trObj, accordion, content, obj.event, data.dataset_name, 'open', data.label_name, data.method)
                        collapseTable(optionForText)
                    }
                });

                form.on('submit(discovery_test)',
                function(data) {
                    console.log(data);
                    // var form_data = new FormData();
                    // form_data.append('model_discovery', $('#model_discovery').val());
                    // form_data.append('dataset_select_discovery', $('#dataset_select_discovery').val());
                    // console.log(form_data);
                    // $.ajax({
                    //     url: "/discovery/model_analysis/modelAnalysisTest",
                    //     type: 'POST',
                    //     data: form_data,
                    //     dataType: "json",
                    //     contentType: false,
                    //     processData: false,// 获取POST所需的csrftoken
                    //     success: function (data) {
                    //         //alert(data.msg);
                    //         layer.msg(data.msg);
                    //         if (data.code == 200){
                    //             // 可以对父窗口进行刷新
                    //             //xadmin.father_reload();
                    //         }   
                    //     }

                    // });
                    //image_show
                    model_discovery = $('#model_discovery').val()
                    dataset_select_discovery = $('#dataset_select_discovery').val()
                    console.log(model_discovery)
                    if(model_discovery == 'Open Intent Discovery'){
                        layer.msg('Please select Model');
                    } else if( dataset_select_discovery == 0){
                        layer.msg('Please select Dataset');
                    }else{// 渲染图表
                        // table reload
                        classTable.reload({
                            where:{
                                "dataset_name": $('#dataset_select_discovery').find("option:selected").text(),
                                "method": $('#model_discovery').find("option:selected").text()
                            }
                            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                
                            }
                        });
                        var myChart4 = echarts.init(document.getElementById('image1'), null, {renderer: 'svg'});
                        var series = [];//保存散点
                        var mylegend = [];//legend部分使用
                        //get cluster.json
                        $.get('/static/jsons/open_intent_discovery/DeepAligned_analysis.json', function (data) {
                            data_chart_5 = data["DeepAligned_banking"];
                            myChart4.clear();
                            mylegend.push('');
                            
                            for (var key in data_chart_5){
                                if(key == "Known Intent Centers"){
                                    data_color = '#FF6666';
                                }else if(key == "Open Intent Centers"){
                                    data_color = '#66CCCC';
                                }
                                mylegend.push(key);
                                series.push({
                                    //symbol:"rect",//矩形
                                    //symbolSize:[60,15],//矩形设置
                                    symbolSize:7,
                                    name:key,
                                    type:'scatter',
                                    data:data_chart_5[key],
                                        itemStyle: {
                                        normal: {
                                            borderColor: '#555',
                                            label: {
                                                color: data_color,
                                                show: true,
                                                position: 'right',
                                                fontWeight: 'bolder',
                                                formatter: function (params, ticket, callback) {
                                                    var s = params.value[2]; 
                                                    return s
                                                },
                                            },
                                        },
                                        },
                                    tooltip: {
                                        trigger:'item',
                                        formatter:function(params){
                                            //console.log(params);                                                             
                                            var dotHtml2 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#666666"></span>'
                                            mystr ='<span style="font-size:10px;">'+params.seriesName+"</br>"+dotHtml2+"Key Words:"+'</span>' + '<span style="font-weight:800;font-size:14px;">'+"  " +params.data[2]+'</span>'+"</br>"+dotHtml2+"Center:"+'</span>' + '<span style="font-weight:800;font-size:14px;">'+"  " +'('+params.data[0]+','+params.data[1]+')'+'</span>';
                                            return mystr;
                                            //console.log(params);
                                        }
                                        
                                    }
                                });
                            };
                            myChart4.setOption({
                                    color:['#FF6666', '#66CCCC'],
                                    xAxis: {
                                        nameTextStyle:{
                                        fontWeight:550,
                                    },
                                    axisLabel:{
                                        show: true,
                                        textStyle:{
                                        fontWeight: 550,
                                        fontSize:12
                                    }
                                }
                                    },
                                    yAxis: {
                                        nameTextStyle:{
                                            fontWeight:550,
                                        },
                                        axisLabel:{
                                            show: true,
                                            textStyle:{
                                            fontWeight: 550,
                                            fontSize:12
                                        }
                                    }
                                   
                                    },                                       
                                    legend: {
                                    data:mylegend
                                    },
                                    tooltip: {
                                        position: 'right'
                                    },
                                    // x轴拖动
                                    dataZoom: [
                                    {
                                        type: "slider",
                                        realtime: true, //拖动滚动条时是否动态的更新图表数据
                                        height: 20, //滚动条高度
                                        left:"10%",
                                        right:"5%",
                                        start: 0, //滚动条开始位置（共100等份）
                                        end: 100, //结束位置（共100等份）
                                    },
                                    {
                                            type: 'slider',
                                            show: true,
                                            yAxisIndex: [0],
                                            left: '96%',
                                            right:"1%",
                                            start: 0, //数据窗口范围的起始百分比
                                            end: 1000
                                        }
                                    ],
                                    series: series,
                            })
                        }, 'json');

                            // {% comment %} const a = window.document.querySelector('#download');
                            // a.addEventListener('click',()=>{
                            //     const content = document.querySelector('svg').outerHTML
                            //     const blob= new Blob([content], {type: 'xml/svg'})
                            //     a.href = URL.createObjectURL(blob)
                            //     a.download = 'test.svg'
                            // }); {% endcomment %}

                    //image2
                        var myChart2 = echarts.init(document.getElementById('image2'), null, {renderer: 'svg'});
                        $.get('/static/json/my_json.json', function (data) {
                            data_chart_2 = data["discovery_pie"];
                                myChart2.clear();//清除缓存
                                myChart2.setOption({
                                        tooltip: {
                                            trigger: 'item',
                                            formatter:function(params){
                                                            console.log(params);                                                             
                                                            var dotHtml1 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#91cc75"></span>'
                                                            var dotHtml2 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#fac858"></span>'
                                                            var dotHtml3 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#ff7800"></span>'
                                                            mystr ='<span style="font-size:10px;">'+ params.seriesName+'</br>'+'</span>'+ 
                                                            dotHtml1+'<span style="font-size:10px;">'+params.data.KeyWord1 +'</span>'+ "  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value1+'</span>'+'</br>'+
                                                            dotHtml2+'<span style="font-size:10px;">'+ params.data.KeyWord2 +'</span>'+"  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value2+'</span>'+'</br>'+
                                                            dotHtml3+ '<span style="font-size:10px;">'+params.data.KeyWord3 +'</span>'+"  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value3+'</br>'+'</span>';
                                                            return mystr;
                                                        }
                                        },
                                    legend: {
                                        top: 'top'
                                    },
                                    grid:{
                                        x:25,
                                        y:50,
                                        x2:50,
                                        y2:50,
                                       
                                    },
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: false},
                                            dataView: {show: false, readOnly: false},
                                            restore: {show: false},
                                            saveAsImage: {show: false}
                                        }
                                    },
                                    series: [
                                        {
                                            name: 'Key Word',
                                            type: 'pie',
                                            radius:[15, 82],
                                            label: {
                                                color:"#6F6F6F",
                                                fontWeight: 'bolder',
                                                formatter:function(params){
                                                    mystr = params.name+"\n"+"("+params.percent+"%"+")";
                                                    return mystr;
                                                        }
                                            },
                                            center: ['50%', '50%'],
                                            roseType: 'area',
                                            itemStyle: {
                                                borderRadius: 8
                                            },
                                            data: data_chart_2,
                                        }
                                    ]
                                })
                            }, 'json');
                    }
                    return false;
                });
                //样例选择监听
                form.on('select(example_select_discovery)', function(data) {
                    discovery_switchBySelect();
                });
            });
        </script>

        <script type="text/javascript">

            function discovery_switchBySelect() {
                // alert('点击select框了')
                var v = $("#example_select_discovery").find("option:selected").text();//得到下拉框的value值
                // alert(v)
                // console.log(v);
                var form_data = new FormData();
                form_data.append('example_num', v);
                $.ajax({
                        url: "/discovery/model_analysis/getModelAnalysisExampleData",
                        type: 'POST',
                        data: form_data,
                        dataType: "json",
                        contentType: false,
                        processData: false,// 获取POST所需的csrftoken
                        success: function (data) {
                            if (data.code == 200){
                                document.getElementById("discovery_text_example").value = data.text
                            }else{
                                alert('Chose Error !')
                            }
                        }
                });
            }
        </script>
        <script>

            function collapseTable(options) {
                anotherEvent = {"known":"open","open":"known"}
                var trObj = options.elem;
                if (!trObj) return;
                var accordion = options.accordion,
                success = options.success,
                content = options.content || '';
                event = options.event;
                var tableView = trObj.parents('.layui-table-view'); //当前表格视图
                var id = tableView.attr('lay-id'); //当前表格标识
                var index = trObj.data('index'); //当前行索引
                var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
                var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
                var colspan = trObj.find('td').length; //获取合并长度
                var trObjChildren = trObj.next(); //展开行Dom
                var indexChildren = id + '-' + index + '-children'+'-'+event; //展开行索引
                var anotherIndexChildren = id + '-' + index + '-children'+'-'+anotherEvent[event]; //展开行索引
                var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
                var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
                var lw = leftTr.width() + 15; //左宽
                var rw = rightTr.width() + 15; //右宽

                //不存在就创建展开行
                if (trObjChildren.data('index') != indexChildren ) {
                    //装载HTML元素
                    
                    var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                    trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                    var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                    leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                    rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
                }
                
                
                //展开|折叠箭头图标
                trObj.find('td[lay-event="'+event+'"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                                
                //显示|隐藏展开行
                trObjChildren.toggle();
                //开启手风琴折叠和折叠箭头
                if (accordion) {
                    // trObj.find('td[lay-event="'+event+'"] i.layui-colla-icon').toggleClass("layui-icon-down layui-icon-right");
                    trObj.siblings().find('td[lay-event="'+event+'"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                    trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                    rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                    leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
                }
                success(trObjChildren, indexChildren); //回调函数
                heightChildren = trObjChildren.height(); //展开高度固定
                rightTrChildren.height(heightChildren + 115).toggle(); //左固定
                leftTrChildren.height(heightChildren + 115).toggle(); //右固定
            }

            function getOptionsForTextTableOfOpen(trObj, accordion, content, event, dataset_name, class_type, label_name, method){
                var optionForClassTable = {
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    event: event,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            url: '/discovery/model_analysis/model_analysis_getTextListByDatasetNameAndMethodAndLabel',
                            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                
                            },
                            cols: [[ //表头
                                    {field: 'text', title: 'Text' , align: 'left',  rowspan:"2", templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.text+"</a>"
                                }}
                                    ,{title: 'Discovery' , align: 'center',  colspan:"6"}
                                ],
                                [ //表头
                                    {field: 'can_1', title: 'Key word A' ,width:'10%', align: 'left', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.can_1+"</a>"
                                }}
                                    ,{field: 'conf_1', title: 'Confidence A' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.conf_1+"</a>"
                                }}
                                    ,{field: 'can_2', title: 'Key word B' ,width:'10%', align: 'left', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.can_2+"</a>"
                                }}
                                    ,{field: 'conf_2', title: 'Confidence B' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.conf_2+"</a>"
                                }}
                                    ,{field: 'can_3', title: 'Key word C' ,width:'10%', align: 'left', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.can_3+"</a>"
                                }}
                                    ,{field: 'conf_3', title: 'Confidence C' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.conf_3+"</a>"
                                }}
                            ]]
                            ,where:{
                                "dataset_name": dataset_name,
                                "method": method,
                                "label_name": label_name
                            }
                        });

                    }
                }
                return optionForClassTable;
            }


            function errorConfirm(errorMsg){
                var baseErr = ': There is no data for this combination ！！！'
                layer.confirm(
                    errorMsg + baseErr,
                    { icon:6, btn:['Confirm'], title:'Attention Please' }
                )
            }

            
            function initDefalutEcharts(){
                model_discovery = layui.jquery('#model_discovery').val()
                dataset_select_discovery = layui.jquery('#dataset_select_discovery').val()
                //image1    Model Detail Analysis
                var myChart4 = echarts.init(document.getElementById('image1'), null, {renderer: 'svg'});
                            var series = [];//保存散点
                            var mylegend = [];//legend部分使用
                            //get cluster.json
                            $.get('/discovery/model_analysis/model_analysis_getDataOfDINByKey?key=DeepAligned_banking', function (data) {
                                
                                data_chart_5 = data.data;
                                myChart4.clear();
                                mylegend.push('');
                                
                                for (var key in data_chart_5){
                                    if(key == "Known Intent Centers"){
                                        data_color = '#FF6666';
                                    }else{
                                        data_color = '#66CCCC';
                                    }
                                    console.log('595:\t'+key)
                                    console.log('596:\t'+data_color)
                                    mylegend.push(key);
                                    series.push({
                                        //symbol:"rect",//矩形
                                        //symbolSize:[60,15],//矩形设置
                                        symbolSize:7,
                                        name:key,
                                        type:'scatter',
                                        data:data_chart_5[key],
                                            itemStyle: {
                                            normal: {
                                                borderColor: '#555',
                                                label: {
                                                    color: data_color,
                                                    show: true,
                                                    position: 'right',
                                                    fontWeight: 'bolder',
                                                    formatter: function (params, ticket, callback) {
                                                        var s = params.value[2]; 
                                                        return s
                                                    },
                                                },
                                            },
                                            },
                                        tooltip: {
                                            trigger:'item',
                                            formatter:function(params){
                                                //console.log(params);                                                             
                                                var dotHtml2 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#666666"></span>'
                                                mystr ='<span style="font-size:10px;">'+params.seriesName+"</br>"+dotHtml2+"Key Words:"+'</span>' + '<span style="font-weight:800;font-size:14px;">'+"  " +params.data[2]+'</span>'+"</br>"+dotHtml2+"Center:"+'</span>' + '<span style="font-weight:800;font-size:14px;">'+"  " +'('+params.data[0]+','+params.data[1]+')'+'</span>';
                                                return mystr;
                                                //console.log(params);
                                            }
                                            
                                        }
                                    });
                                };
                                myChart4.setOption({
                                        color:['#FF6666', '#66CCCC'],
                                        xAxis: {nameTextStyle:{
                                            fontWeight:550,
                                        },
                                        axisLabel:{
                                            show: true,
                                            textStyle:{
                                            fontWeight: 550,
                                            fontSize:12
                                        }
                                    }},
                                        yAxis: {
                                            nameTextStyle:{
                                            fontWeight:550,
                                        },
                                        axisLabel:{
                                            show: true,
                                            textStyle:{
                                            fontWeight: 550,
                                            fontSize:12
                                        }
                                    }
                                        },                                       
                                        legend: {
                                        data:mylegend
                                        },
                                        tooltip: {
                                            position: 'right'
                                        },
                                        // x轴拖动
                                        dataZoom: [
                                        {
                                            type: "slider",
                                            realtime: true, //拖动滚动条时是否动态的更新图表数据
                                            height: 20, //滚动条高度
                                            left:"10%",
                                            right:"5%",
                                            start: 25, //滚动条开始位置（共100等份）
                                            end: 75, //结束位置（共100等份）
                                        },
                                        {
                                                type: 'slider',
                                                show: true,
                                                yAxisIndex: [0],
                                                left: '96%',
                                                right:"1%",
                                                start: 25, //数据窗口范围的起始百分比
                                                end: 75
                                            }
                                        ],
                                        series: series,
                                })
                            }, 'json');


            //    //image2
            //    var myChart2 = echarts.init(document.getElementById('image2'), null, {renderer: 'svg'});
            //             $.get('/static/json/my_json.json', function (data) {
            //                 data_chart_2 = data["discovery_pie"];
            //                     myChart2.clear();//清除缓存
            //                     myChart2.setOption({
            //                             tooltip: {
            //                                 trigger: 'item',
            //                                 formatter:function(params){
            //                                                 console.log(params);                                                             
            //                                                 var dotHtml1 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#91cc75"></span>'
            //                                                 var dotHtml2 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#fac858"></span>'
            //                                                 var dotHtml3 = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:#ff7800"></span>'
            //                                                 mystr ='<span style="font-size:10px;">'+ params.seriesName+'</br>'+'</span>'+ 
            //                                                 dotHtml1+'<span style="font-size:10px;">'+params.data.KeyWord1 +'</span>'+ "  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value1+'</span>'+'</br>'+
            //                                                 dotHtml2+'<span style="font-size:10px;">'+ params.data.KeyWord2 +'</span>'+"  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value2+'</span>'+'</br>'+
            //                                                 dotHtml3+ '<span style="font-size:10px;">'+params.data.KeyWord3 +'</span>'+"  " +'<span style="font-weight:800;font-size:13px;">'+params.data.value3+'</br>'+'</span>';
            //                                                 return mystr;
            //                                             }
            //                             },
            //                         legend: {
            //                             top: 'top'
            //                         },
            //                         grid:{
            //                             x:25,
            //                             y:50,
            //                             x2:50,
            //                             y2:50,
                                       
            //                         },
            //                         toolbox: {
            //                             show: true,
            //                             feature: {
            //                                 mark: {show: false},
            //                                 dataView: {show: false, readOnly: false},
            //                                 restore: {show: false},
            //                                 saveAsImage: {show: false}
            //                             }
            //                         },
            //                         series: [
            //                             {
            //                                 name: 'Key Word',
            //                                 type: 'pie',
            //                                 radius:[15, 82],
            //                                 label: {
            //                                     color:"#6F6F6F",
            //                                     fontWeight: 'bolder',
            //                                     formatter:function(params){
            //                                         mystr = params.name+"\n"+"("+params.percent+"%"+")";
            //                                         return mystr;
            //                                             }
            //                                 },
            //                                 center: ['50%', '50%'],
            //                                 roseType: 'area',
            //                                 itemStyle: {
            //                                     borderRadius: 8
            //                                 },
            //                                 data: data_chart_2,
            //                             }
            //                         ]
            //                     })
            //                 }, 'json');


            }

        </script>
        <script>
            initDefalutEcharts();
        </script>


        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>