<!DOCTYPE HTML>
<html>
    <head>
        <title>New Intent Discovery System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/main.css" />
        <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        
        
    </head>
    <body >
        <div id="container" style="align:center;">
            
            <div id="header" style="background-color:#009688;text-align:center;height:260px;width:100%;margin: auto;">
                <p style="padding:30px;padding-top:70px;font-size:35px;color:#FFFFFF;">TEXTOIR: An Integrated and Visualized Platform for Text Open Intent Recognition</p>
                <p style="padding:30px;padding-top:10px;font-size:20px;color:#FFFFFF;">Developed by <a href="https://thuiar.github.io" style="text-decoration:none;color:#FFFFFF;" target="_blank">THUIAR</a> Team. 
                    <a href="https://github.com/HanleiZhang" style="text-decoration:none;color:#FFFFFF;"  target="_blank">@HanleiZhang</a>, 
                    <a href="https://github.com/XTenLee" style="text-decoration:none;color:#FFFFFF;"  target="_blank">@XTenLee</a>, 
                    <a href="https://github.com/PandasZhang"  style="text-decoration:none;color:#FFFFFF;" target="_blank">@PandasZhang</a>, 
                    Directed by <a href="https://thuiar.github.io/author/hua-xu/"  style="text-decoration:none;color:#FFFFFF;" target="_blank">Professor Xu Hua</a></p>
            </div>
            
            <div id="header" style="text-align:center;height:270px;width:100%;margin: auto;margin-top:15px;">
                <div id="menu" style="height:100%;text-align:center;width:40%;float:left;padding:20px;margin-left:5px;margin-right:5px;">
                    <p style="font-size:24px;color:#333;font-family:'Montserrat',sans-serif;">Intelligent Information Processing and Advanced Control Software Technology Research Team</p><br><br>
                    <p style="font-size:18px;color:#555;font-family:'Montserrat',sans-serif;">State Key Laboratory of Intelligent Technology and Systems, Department of Computer Science and Technology, Tsinghua University</p>
                </div>
                <div id="menu" style="height:100%;text-align:center;width:58%;float:left;padding-left:20px;padding-right:20px;margin-left:5px;margin-right:5px;">
                    <img style="align:middle;height:100%;width:90%;" src="/static/img/aboutus/aboutus-01.jpg">
                </div>
            </div>
            
            
            <div id="header" style="text-align:center;width:100%;margin: auto;margin-top:40px;">
                <p style="padding:10px;padding-top:30px;font-size:35px;color:#313131;">Main Research Direction</p>
                <p style="padding:30px;padding-top:10px;font-size:20px;color:#b2b2b2;">What we are doing</p>
            </div>
            
            <div id="header" style="text-align:center;height:300px;width:100%;margin: auto;margin-top:0px;">
                <div id="menu" style="height:100%;text-align:center;width:31%;float:left;padding-left:10px;padding-right:10px;margin-left:25px;margin-right:5px;">
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-code-branch"  style="font-size:3rem;color:#2962ff;text-align:center;"></i></div>
                    <p style="font-size:1.25rem;color:#333;font-family:'Montserrat',sans-serif;">Multi-modal Intelligent Information Processing</p><br>
                    <p style="font-size:0.9rem;color:#555;font-family:inherit;">Emotion recognition, sentiment analysis and intention recognition based on multi-modal information such as text, audio, video (picture).</p>
                </div>
                <div id="menu" style="height:100%;text-align:center;width:31%;float:left;padding-left:10px;padding-right:10px;margin-left:5px;margin-right:5px;">
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-robot"  style="font-size:3rem;color:#2962ff;text-align:center;"></i></div>
                    <p style="font-size:1.25rem;color:#333;font-family:'Montserrat',sans-serif;">Key Technologies of Intelligent Mobile Robots</p><br>
                    <p style="font-size:0.9rem;color:#555;font-family:inherit;">Human-machine dialogue technology, intelligent mobile robot control technology and scene applications (business intelligent service robot, dual-mode intelligent disinfection robot).</p>
                </div>
                <div id="menu" style="height:100%;text-align:center;width:31%;float:left;padding-left:10px;padding-right:10px;margin-left:5px;margin-right:25px;">
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-memory"  style="font-size:3rem;color:#2962ff;text-align:center;"></i></div>
                    <p style="font-size:1.25rem;color:#333;font-family:'Montserrat',sans-serif;">Research on Intelligent Optimization Method</p><br>
                    <p style="font-size:0.9rem;color:#555;font-family:inherit;">Evolution-based optimization theory, (high-dimensional, sparse, expensive) multi-objective optimization problem.</p>
                </div>
            </div>
            
            
            <div id="header" style="text-align:center;height:260px;width:100%;margin: auto;margin-top:10px;">
                <div id="menu" style="height:100%;text-align:left;width:37%;float:left;padding:20px;padding-left:40px;margin-left:5px;margin-right:5px;">
                    <p style="font-size:1.34rem;color:#333;font-family:'Montserrat',sans-serif;">Contact Us</p><br><br>
                    <p style="font-size:1.0rem;color:#555;font-family:inherit;">Get in touch with us</p>
                </div>
                <div id="menu" style="height:100%;text-align:left;width:60%;float:left;;padding:20px;padding-left:40px;margin-left:5px;margin-right:5px;">
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-envelope fa-2x"  style="font-size:1.7rem;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:0.88rem;color:#555;font-family:inherit;">xuhua@tsinghua.edu.cn</span></i></div>
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-phone fa-2x"  style="font-size:1.3rem;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:0.88rem;color:#555;font-family:inherit;">&#43;86-10-62771792</span></i></div>
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-map-marker fa-2x"  style="font-size:1.7rem;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:0.88rem;color:#555;font-family:inherit;">Shuangqing Road 30, Haidian District, Beijing 100084</span></i></div>
                    <div class="featurette-icon" style="padding:10px;"><i class="fas fa-compass fa-2x"  style="font-size:1.7rem;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:0.88rem;color:#555;font-family:inherit;">4-506, FIT Building, Tsinghua University</span></i></div>
                </div>
            </div>
            
            <div class="copyright" style="margin-bottom:40px;text-align:center;">&copy; THUIAR 2020</div>

        </div>
        
        
        
        
        <script>layui.use(['carousel'],
            function() {
                var carousel = layui.carousel;
                //图片轮播
                carousel.render({
                    elem: '#carousel01'
                    ,width: '100%'
                    ,interval: 3000
                }); 

            });
        </script>
    </body>
</html>