<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
        <META HTTP-EQUIV="expires" CONTENT="0">
        <title>Open Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <script src="/static/lib/xadmin/js/echarts.min.js"></script>
        <script src="/static/lib/xadmin/js/ecStat.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div style="font-weight:700; font-size:20px;color:#555555">Open Intent Detection</div>
                            <div style="color:#6F6F6F;line-height:45px;">--Here, you can observe the result of different open intent detection models</div>
                                <form class="layui-form layui-col-space5">
                                    <div class="layui-input-inline">
                                                
                                        <div class="layui-input-inline">
                                            <select id="dataset_name_select_1" name="dataset_name_select">
                                                <option  selected >Dataset</option>
                                                    {% for lines in datasetList %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
        
                                        <div class="layui-input-inline">
                                            <select id = 'Known_Intent_Ratio_1' name="Known_Intent_Ratio">
                                               
                                                <option value="0" selected>Known Intent Ratio</option>
                                                <option value="0.1" >10%</option>
                                                <option value="0.2">20%</option>
                                                <option value="0.3">30%</option>
                                                <option value="0.4" >40%</option>
                                                <option value="0.5">50%</option>
                                                <option value="0.6">60%</option>
                                                <option value="0.7" >70%</option>
                                                <option value="0.8">80%</option>
                                                <option value="0.9">90%</option>
                                                <option value="1">100%</option>
                                                
                                            </select>
                                        </div>

                                        <div class="layui-input-inline">
                                            <select id = 'Annotated_Ratio_1' name="Annotated_Ratio">
                                                <option value="0" selected>Labeled Ratio</option>
                                                <option value="0.1" >10%</option>
                                                <option value="0.2">20%</option>
                                                <option value="0.3">30%</option>
                                                <option value="0.4" >40%</option>
                                                <option value="0.5">50%</option>
                                                <option value="0.6">60%</option>
                                                <option value="0.7" >70%</option>
                                                <option value="0.8">80%</option>
                                                <option value="0.9">90%</option>
                                                <option value="1">100%</option>
                                            </select>
                                        </div>

                                        <div class="layui-input-inline" >
                                            <select id="model_detection_1" name="model_detection" >
                                                <option  selected value='model_detection_1' >Open Intent Detection</option>
                                                    {% for lines in modelList_detection %}
                                                        <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                        

                                        <div class="layui-inline layui-show-xs-block">
                                            <button class="layui-btn"  lay-filter="show1"  lay-submit="" >Show</button>
                                        </div>
                                    </div>
                                </form>
                            
                        {% comment %} show loss change {% endcomment %}
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                             <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                            <div style="font-weight:700; font-size:20px;color:#555555">Overall Performance</div>
                                            <div style="color:#6F6F6F">--Show the model result</div>     
                                            <div id="image1" style="width: 390px;height:285px;"></div>
                                                
                                    </div>
                                </div>    
                            </div>
                            <div class="layui-input-inline">
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            {% comment %} Result {% endcomment %}   
                                                <div style="font-weight:700; font-size:20px;color:#555555">Error Analyze</div>
                                                <div style="color:#6F6F6F">--Show details of incorrect results</div>  
                                                <div id="image2" style="width:390px;height:285px;"></div>
                                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </div> 

                            
                    </div>  
                    </div>
                </div> 
            </div>
        </div>
    </div>

    {% comment %}ratio  {% endcomment %} 
        <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                   

                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                <div style="font-weight:700; font-size:20px;color:#555555">Influence of Known Intent Ratio</div>
                                    <div style="color:#6F6F6F">--Show the influence of know intent ratio</div>  
                                    <form class="layui-form layui-col-space5">
                                        <div class="layui-input-inline">
                                            <div class="layui-input-inline">
                                                <select id="dataset_name_select_2" name="dataset_name_select">
                                                    <option  selected >Dataset</option>
                                                        {% for lines in datasetList %}
                                                            <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>

                                            <div class="layui-input-inline">
                                                <select id = 'Known_Intent_Ratio_2' name="Known_Intent_Ratio">
                                                    <option value="0" selected>Known Intent Ratio</option>
                                                    <option value="0.1" >10%</option>
                                                    <option value="0.2">20%</option>
                                                    <option value="0.3">30%</option>
                                                    <option value="0.4" >40%</option>
                                                    <option value="0.5">50%</option>
                                                    <option value="0.6">60%</option>
                                                    <option value="0.7" >70%</option>
                                                    <option value="0.8">80%</option>
                                                    <option value="0.9">90%</option>
                                                    <option value="1">100%</option>
                                                </select>
                                            </div>

                                            <div class="layui-input-inline">
                                                <select id = 'Evaluation_Metrics_2' name="Evaluation_Metrics">
                                                    <option value="0" selected>Evaluation Metrics</option>
                                                    <option value="1" >F1</option>
                                                    <option value="2">ACC</option>
                                                    <option value="3">Recall</option>
                                                  
                                                </select>
                                            </div>
                                            <div class="layui-inline layui-show-xs-block">
                                                <button class="layui-btn" lay-filter="show2" lay-submit="" >Show</button>
                                            </div>
                                            
                                        </div>
                                    </form>   
                                        <div id="image3" style="width:390px;height:285px;"></div>
    
                                </div>
                            </div>
                            </div>

                            <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                <div style="font-weight:700; font-size:20px;color:#555555">Influence of Label Ratio</div>
                                <div style="color:#6F6F6F">--Show the influence of label ratio</div>  
                                <form class="layui-form layui-col-space5">
                                    <div class="layui-input-inline">
                                        <div class="layui-input-inline">
                                            <select id="dataset_name_select_3" name="dataset_name_select">
                                                <option  selected >Dataset</option>
                                                    {% for lines in datasetList %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>

                                        <div class="layui-input-inline">
                                            <select id = 'Label_Ratio_3' name="Label_Ratio">
                                                <option value="0" selected>Label Ratio</option>
                                                <option value="0.1" >10%</option>
                                                <option value="0.2">20%</option>
                                                <option value="0.3">30%</option>
                                                <option value="0.4" >40%</option>
                                                <option value="0.5">50%</option>
                                                <option value="0.6">60%</option>
                                                <option value="0.7" >70%</option>
                                                <option value="0.8">80%</option>
                                                <option value="0.9">90%</option>
                                                <option value="1">100%</option>
                                            </select>
                                        </div>

                                        <div class="layui-input-inline">
                                            <select id = 'Evaluation_Metrics_3' name="Evaluation_Metrics">
                                                <option value="0" selected>Evaluation Metrics</option>
                                                <option value="1" >F1</option>
                                                <option value="2">ACC</option>
                                                <option value="3">Recall</option>
                                                
                                            </select>
                                        </div>
                                        <div class="layui-inline layui-show-xs-block">
                                            <button class="layui-btn" lay-filter="show3" lay-submit="" >Show</button>
                                        </div>
                                    </div>
                                </form>   
                                    <div id="image4" style="width:390px;height:285px;"></div>

                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div> 
       

        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //image1 image2
                form.on('submit(show1)',function(data) {
                    //console.log('first show clicked')
                    dataset_name_select_1 = $('#dataset_name_select_1').val()
                    Known_Intent_Ratio_1 = $('#Known_Intent_Ratio_1').val()
                    Annotated_Ratio_1 = $('#Annotated_Ratio_1').val()
                    model_detection_1 = $('#model_detection_1').val()
                    if(dataset_name_select_1 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_1 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Annotated_Ratio_1 == 0){
                        layer.msg('Please select Labeled Ratio');
                    } else if(model_detection_1 == 'model_detection_1'){
                        layer.msg('Please select New Intent Detection');
                    } else{// 渲染图表
                        var myChart1 = echarts.init(document.getElementById('image1'));
                        $.get('/static/json/my_json.json', function (data) {
                            data_chart_1 = data['two_way_bar'];

                            myChart1.clear();//清除缓存
                            myChart1.setOption({
                                tooltip: { 
                                    trigger: 'axis', axisPointer: { 
                                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                    }
                                },
                                legend: {
                                    data: [ 'Predicted error sample', 'Predicted correct sample']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: [
                                    {
                                        type: 'value'
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'category',
                                        axisTick: {
                                            show: false
                                        },
                                        data: data_chart_1.intent_class
                                    }
                                ],
                                color:['#FF6666', '#66CCCC'],
                                series: [
                                    {
                                        name: 'Predicted error sample',
                                        type: 'bar',
                                        stack: 'A',
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: data_chart_1.left
                                    },
                                    {
                                        name: 'Predicted correct sample',
                                        type: 'bar',
                                        stack: 'A',
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: data_chart_1.right
                                    }
                                ]
                            })
                        }, 
                        'json');
                    //image2
                      var myChart2 = echarts.init(document.getElementById('image2'));
                        $.get('/static/json/my_json.json', function (data) {
                            data_chart_2 = data['detection_error_analysis'];
                                myChart2.clear();//清除缓存
                                var mylegend = [];
                                var series = [];
                                for(var key in data_chart_2){
                                    
                                    mylegend.push(key),
                                    series.push({
                                        name: key,
                                        type: 'bar',
                                        stack: 'total',
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: data_chart_2[key]
                                            })

                                }
                                myChart2.setOption({
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {            // Use axis to trigger tooltip
                                        type: 'shadow'        // 'shadow' as default; can also be 'line' or 'shadow'
                                    }
                                },
                                legend: {
                                    data: mylegend
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'value'
                                },
                                yAxis: {
                                    type: 'category',
                                    data: mylegend
                                },
                                series: series
                            })
                                }, 'json');
                    }
                    //var myChart1 = echarts.init(document.getElementById('image1'));
                    
                    return false;
                });
                //image3
                  form.on('submit(show2)',function(data) {
                    //console.log('first show clicked')
                    dataset_name_select_2 = $('#dataset_name_select_2').val()
                    Known_Intent_Ratio_2 = $('#Known_Intent_Ratio_2').val()
                    Evaluation_Metrics_2 = $('#Evaluation_Metrics_2').val()
                   
                    if(dataset_name_select_2 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_2 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Evaluation_Metrics_2 == 0){
                        layer.msg('Please select Evaluation Metrics');
                    }else{// 渲染图表
                        var myChart3 = echarts.init(document.getElementById('image3'));
                        $.get('/static/json/my_json.json', function (data) {
                            data_chart_3 = data["detection_known_intent_ratio"]
                            myChart3.clear();//清除缓存
                            var mylegend = [];
                            var series = [];
                            for(var key in data_chart_3){
                                mylegend.push(key),
                                series.push({
                                    name: key,
                                    type: 'line',
                                    data: data_chart_3[key]
                                        })

                            }
                            myChart3.setOption({
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: mylegend
                            },
                            grid: {
                                left: '10%',
                                right: '20%',
                                bottom: '10%',
                                top:'28%'
                            },
                            xAxis: {
                                name:'label ratio',
                                padding:[0,0,0,0],//控制name位置
                                type: 'category',
                                boundaryGap: false,
                                data: ['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7','0.8','0.9','1.0']
                            },
                            yAxis: {name:'score',
                            padding:[0,0,0,0],
                            },
                            series: series
                        })
                        }, 'json');
                    }
                    //var myChart1 = echarts.init(document.getElementById('image1'));
                    
                    return false;
                });
               
                //image4
                form.on('submit(show3)',function(data) {
                    //console.log('first show clicked')
                    dataset_name_select_3 = $('#dataset_name_select_3').val()
                    Known_Intent_Ratio_3 = $('#Known_Intent_Ratio_3').val()
                    Evaluation_Metrics_3 = $('#Evaluation_Metrics_3').val()
                   
                    if(dataset_name_select_3 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_3 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Evaluation_Metrics_3 == 0){
                        layer.msg('Please select Evaluation Metrics');
                    }else{// 渲染图表
                        var myChart4 = echarts.init(document.getElementById('image4'));
                        $.get('/static/json/my_json.json', function (data) {
                            data_chart_4 = data["detection_label_ratio"]
                            myChart4.clear();//清除缓存
                            var mylegend = [];
                            var series = [];
                            for(var key in data_chart_4){
                                mylegend.push(key),
                                series.push({
                                    name: key,
                                    type: 'line',
                                    data: data_chart_4[key]
                                        })

                            }
                            myChart4.setOption({
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: mylegend
                            },
                            grid: {
                                left: '10%',
                                right: '23%',
                                bottom: '10%',
                                top:'28%'
                            },
                            xAxis: {
                                name:'Known ratio',
                                padding:[0,0,0,0],//控制name位置
                                type: 'category',
                                boundaryGap: false,
                                data: ['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7','0.8','0.9','1.0']
                            },
                            yAxis: {name:'score',
                            padding:[0,0,0,0],
                            },
                            series: series
                        })
                        }, 'json');
                    }
                    //var myChart1 = echarts.init(document.getElementById('image1'));
                    
                    return false;
                });
               
              //监听提交
                form.on('submit(pid)',
                
                
                function(data) {
                    
                    console.log(data);
                
                    var form_data = new FormData();
            
                    form_data.append('run_pid', $('#run_pid').val());

                    console.log(form_data);
                    $.ajax({
                        
                        url: "/log_management/kill_run/", 
                        
                        type: 'POST',
                        data: form_data,
                        dataType: "json",
                        contentType: false,
                        processData: false,// 获取POST所需的csrftoken
                        success: function (data) {
                            alert(data.msg);
                            if (data.code == 200){
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            }

                        }

                    });
                    return false;
                });
            });  

            function member_del(obj,run_pid){
                layer.confirm(
                    'Are you sure to stop '+run_pid+'？',
                    {icon:1,
                    btn:['Stop',"Cancel"],
                    title:'Stop'
                    },
                    
                    function(index){
                    //发异步删除数据
                    
                    var form_data = new FormData();
                    

                    //form_data.append('dataset_name', $('#dataset_name_del').val()); 
                    form_data.append('run_pid', run_pid);
                    console.log(form_data);
                    $.ajax({
                                
                                url:"/log_management/kill_run/",
                                type: 'POST',
                                data: form_data,
                                dataType: "json",
                                contentType: false,
                                processData: false,// 获取POST所需的csrftoken
                                success: function (data) {
                                    alert(data.msg);
                                    if (data.code == 200){
                                        //关闭当前frame
                                        xadmin.close();
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    }
                                }
                            });
                    return false;                  
                    }
  
                    );        
                        }



            </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>