<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
        <META HTTP-EQUIV="expires" CONTENT="0">
        <title>Open Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/jquery-3.2.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <script src="/static/lib/xadmin/js/echarts.min.js"></script>
        <script src="/static/lib/xadmin/js/ecStat.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    

        <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                   

                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                <div style="font-weight:700; font-size:20px;color:#555555">Influence of Known Intent Ratio (KIR)</div>
                                    <div style="color:#6F6F6F">--Show the influence of know intent ratio.</div>  
                                    <form class="layui-form layui-col-space5">
                                        <div class="layui-input-inline">
                                            <div class="layui-input-inline">
                                                <select id="dataset_name_select_2" name="dataset_name_select">
                                                    <option value="Dataset" selected >Dataset</option>
                                                    {% for lines in datasetList %}
                                                    {% comment %}<!-- {% if lines.dataset_name == 'banking' %}
                                                        <option selected  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endif %} -->
                                                        
                                                        <!-- {% if lines.model_name != 'banking' %} -->{% endcomment %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% comment %}<!-- {% endif %} -->{% endcomment %}
                                                    {% endfor %}
                                                    <!-- <option  disabled >Dataset</option>
                                                        {% for lines in datasetList %}
                                                            <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endfor %} -->
                                                </select>
                                            </div>

                                            
                                            <div class="layui-input-inline">
                                            <select id = 'Label_Ratio_2' name="Label_Ratio">
                                                <option value="0" selected>Label Ratio</option>                                                
                                                <option value="0.2"  >20%</option>                                              
                                                <option value="0.4" >40%</option>                                                
                                                <option value="0.6">60%</option>                                              
                                                <option value="0.8">80%</option>
                                                <option value="1.0">100%</option>
                                            </select>
                                        </div>

                                            <div class="layui-input-inline">
                                                <select id = 'Evaluation_Metrics_2' name="Evaluation_Metrics">
                                                    <option value="0" selected>Evaluation Metrics</option>
                                                    <option value="F1"  >F1</option>
                                                    <option value="F1-known">F1-known</option>
                                                    <option value="F1-open">F1-open</option>
                                                    <option value="Acc">Acc</option>
                                                  
                                                </select>
                                            </div>
                                            <div class="layui-inline layui-show-xs-block">
                                                <button class="layui-btn" id="show2Btn" lay-filter="show2" lay-submit="" >Show</button>
                                            </div>
                                            
                                        </div>
                                    </form>   
                                        {% comment %} <a id="download" href="">Download</a>   {% endcomment %}
                                        <div id="image3" style="width:95%;height:350px;"></div>
    
                                </div>
                            </div>
                            </div>

                            <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-body">
                                <div style="font-weight:700; font-size:20px;color:#555555">Influence of Labeled Ratio (LR)</div>
                                <div style="color:#6F6F6F">--Show the influence of labeled ratio.</div>  
                                <form class="layui-form layui-col-space5">
                                    <div class="layui-input-inline">
                                        <div class="layui-input-inline">
                                            <select id="dataset_name_select_3" name="dataset_name_select">
                                                <option value="Dataset" selected>Dataset</option>
                                                {% for lines in datasetList %}
                                                {% comment %}<!-- {% if lines.dataset_name == 'banking' %}
                                                    <option selected  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                    {% endif %} -->
                                                    
                                                    <!-- {% if lines.model_name != 'banking' %} -->{% endcomment %}
                                                    <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                    {% comment %}<!-- {% endif %} -->{% endcomment %}
                                                {% endfor %}
                                                <!-- <option  disabled >Dataset</option>
                                                    {% for lines in datasetList %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                    {% endfor %} -->
                                            </select>
                                        </div>

                                        <div class="layui-input-inline">
                                                <select id = 'Known_Intent_Ratio_3' name="Known_Intent_Ratio">
                                                    <option value="0" selected>Known Intent Ratio</option>
                                                    <option value="0.25"  >25%</option>
                                                    <option value="0.5">50%</option>
                                                    <option value="0.75">75%</option>
                                                    
                                                </select>
                                        </div>

                                        <div class="layui-input-inline">
                                            <select id = 'Evaluation_Metrics_3' name="Evaluation_Metrics">
                                                <option value="0" selected>Evaluation Metrics</option>
                                                <option value="F1"  >F1</option>
                                                <option value="F1-known">F1-known</option>
                                                <option value="F1-open">F1-open</option>
                                                <option value="Acc">Acc</option>
                                                
                                            </select>
                                        </div>
                                        <div class="layui-inline layui-show-xs-block">
                                            <button class="layui-btn" id="show3Btn"  lay-filter="show3"  lay-submit=""  >Show</button>
                                        </div>
                                    </div>
                                </form> 
                                {% comment %} <a id="download" href="">Download</a>     {% endcomment %}
                                    <div id="image4" style="width:95%;height:350px;"></div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- 03-25-move -->
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            
                                    <form class="layui-form layui-col-space5">
                                        <div class="layui-input-inline">
                                                    
                                            <div class="layui-input-inline">
                                                <select id="dataset_name_select_1" name="dataset_name_select">
                                                    <option value="Dataset" selected>Dataset</option>
                                                    {% for lines in datasetList %}
                                                    {% comment %}<!-- {% if lines.dataset_name == 'banking' %} -->{% endcomment %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% comment %}<!-- {% endif %} -->
                                                        
                                                        <!-- {% if lines.model_name != 'banking' %}
                                                        <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endif %} -->{% endcomment %}
                                                    {% endfor %}
                                                    {% comment %}<!-- <option  disabled >Dataset</option>
                                                        {% for lines in datasetList %}
                                                            <option  value="{{lines.dataset_name}}" >{{lines.dataset_name}}</option>
                                                        {% endfor %} -->{% endcomment %}
                                                </select>
                                            </div>
            
                                            <div class="layui-input-inline">
                                                <select id = 'Known_Intent_Ratio_1' name="Known_Intent_Ratio">
                                                   
                                                    <option value="0" selected>Known Intent Ratio</option>
                                                    <option value="0.25" >25%</option>
                                                    <option value="0.5">50%</option>
                                                    <option value="0.75">75%</option>
                                                    
                                                </select>
                                            </div>
    
                                            <div class="layui-input-inline">
                                                <select id = 'Annotated_Ratio_1' name="Annotated_Ratio">
                                                    <option value="0" selected>Labeled Ratio</option>
                                                    <option value="0.2" >20%</option>
                                                    <option value="0.4">40%</option>                                                     
                                                    <option value="0.6">60%</option>                                             
                                                    <option value="0.8">80%</option>
                                                    <option value="1">100%</option>
                                                </select>
                                            </div>
    
                                            <div class="layui-input-inline" >
                                                <select id="model_detection_1" name="model_detection" >
                                                    <option value='model_detection_1' selected >Open Intent Detection</option>
                                                    {% for lines in modelList_detection %}
                                                    {% comment %}<!-- {% if lines.model_name == 'ADB' %} -->{% endcomment %}
                                                        <option   value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% comment %}<!-- {% endif %} -->
                                                        
                                                        <!-- {% if lines.model_name != 'ADB' %}
                                                        <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endif %} -->{% endcomment %}
                                                    {% endfor %}
                                                        <!-- {% for lines in modelList_detection %}
                                                            <option  value="{{lines.model_name}}" >{{lines.model_name}}</option>
                                                        {% endfor %} -->
                                                </select>
                                            </div>
                                            
                                            <div class="layui-inline layui-show-xs-block">
                                                <button class="layui-btn" id="show1Btn" lay-filter="show1"  lay-submit="" >Show</button>
                                            </div>
                                        </div>
                                    </form>
                                
                            {% comment %} show loss change {% endcomment %}
                            <div class="layui-input-inline">
                                <div class="layui-input-inline">
                                 <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                                <div style="font-weight:700; font-size:20px;color:#555555">Overall Performance</div>
                                                <div style="color:#6F6F6F">--Show the model result.</div>     
                                                {% comment %} <a id="download" href="">Download</a> {% endcomment %}
                                                {% comment %} <div id="image1" style="width: 80%;height:285px;"></div> {% endcomment %}
                                                <div id="image1" style="width:800px; height:450px; left:0; right:0; margin:auto;" ></div>
                                                  
                                        </div>
                                    </div>    
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-col-md6">
                                        <div class="layui-card">
                                            <div class="layui-card-body">
                                                {% comment %} Result {% endcomment %}   
                                                    <div style="font-weight:700; font-size:20px;color:#555555">Error Analysis</div>
                                                    <div style="color:#6F6F6F">--Show details of incorrect results.</div>  
                                                    {% comment %} <a id="download" href="">Download</a> {% endcomment %}
                                                    {% comment %} <div id="image2" style="width:390px;height:285px;"></div> {% endcomment %}
    
                                                    <div id="image2" style="width:800px; height:450px; left:0; right:0; margin:auto;" ></div>
                                                      
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
    
                                
                        </div>  
                        </div>
                    </div> 
                </div>
            </div>
        </div>
       

        <script>layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                json_base_path = '/static/jsons/open_intent_detection/'

                //image1 image2
                form.on('submit(show1)',function(data) {
                    //console.log('first show clicked')
                    dataset_name_select_1 = $('#dataset_name_select_1').val()
                    Known_Intent_Ratio_1 = $('#Known_Intent_Ratio_1').val()
                    Annotated_Ratio_1 = $('#Annotated_Ratio_1').val()
                    model_detection_1 = $('#model_detection_1').val()
                    if(dataset_name_select_1 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_1 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Annotated_Ratio_1 == 0){
                        layer.msg('Please select Labeled Ratio');
                    } else if(model_detection_1 == 'model_detection_1'){
                        layer.msg('Please select New Intent Detection');
                    } else{// 渲染图表
                        if(Annotated_Ratio_1 == 1 || Annotated_Ratio_1 == "1"){
                            Annotated_Ratio_1 = "1.0"
                        }
                        var key_ture_false = dataset_name_select_1 + '_'+ Known_Intent_Ratio_1 + '_' + Annotated_Ratio_1 + '_' + model_detection_1
                        
                        //image1    Overall Performance
                        var myChart1 = echarts.init(document.getElementById('image1'));
                        //image2    Error Analyze
                        var myChart2 = echarts.init(document.getElementById('image2'));
                        $.get('/detection/model_test/model_evaluation_getDataOfTFOverallByKey?key='+key_ture_false, function (data) {
                            var errorMsg = 'Overall Performance'
                            data_chart_1 = data.data;
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart1.clear();
                            myChart1.setOption(get_option_ture_false_overall(data_chart_1));
                            },'json');
                        $.get('/detection/model_test/model_evaluation_getDataOfTFFineByKey?key='+key_ture_false, function (data) {
                            var errorMsg = 'Error Analyze'
                            data_chart_2 = data.data;
                        if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart2.clear();//清除缓存
                            myChart2.setOption(get_option_ture_false_fine(data_chart_2));
                            }, 'json');
                    }
                    
                    return false;
                });
                
                //image3 Influence of Known Intent Ratio
                form.on('submit(show2)',function(data) {
                    dataset_name_select_2 = $('#dataset_name_select_2').val()
                    Label_Ratio_2 = $('#Label_Ratio_2').val()
                    Evaluation_Metrics_2 = $('#Evaluation_Metrics_2').val()
                    
                    if(dataset_name_select_2 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Label_Ratio_2 == 0){
                        layer.msg('Please select Label Ratio');
                    } else if(Evaluation_Metrics_2 == 0){
                        layer.msg('Please select Evaluation Metrics');
                    }else{
                        if(Label_Ratio_2 == 1 || Label_Ratio_2 == "1"){
                            Label_Ratio_2 = "1.0"
                        }
                        iok_data_str = "detection_"+dataset_name_select_2+"_"+Label_Ratio_2+"_"+Evaluation_Metrics_2
                        var myChart3 = echarts.init(document.getElementById('image3'));
                        var errorMsg = 'Influence of Known Intent Ratio'
                        $.get('/detection/model_test/model_evaluation_getDataOfIOKIRByKey?key='+iok_data_str, function (data) {
                            data_chart_3 = data.data
                        if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart3.clear();
                            myChart3.setOption(get_option_iokir(data_chart_3))
                        }, 'json');
                    }
                    return false;
                });
               
                //image4
                form.on('submit(show3)',function(data) {
                    // console.log('first show clicked')
                    dataset_name_select_3 = $('#dataset_name_select_3').val()
                    Known_Intent_Ratio_3 = $('#Known_Intent_Ratio_3').val()
                    Evaluation_Metrics_3 = $('#Evaluation_Metrics_3').val()
                   
                    if(dataset_name_select_3 == 'Dataset'){
                        layer.msg('Please select Dataset');
                    } else if(Known_Intent_Ratio_3 == 0){
                        layer.msg('Please select Known Intent Ratio');
                    } else if(Evaluation_Metrics_3 == 0){
                        layer.msg('Please select Evaluation Metrics');
                    }else{
                        iol_data_str = "detection_"+dataset_name_select_3+"_"+Known_Intent_Ratio_3+"_"+Evaluation_Metrics_3
                        var myChart4 = echarts.init(document.getElementById('image4'));
                        var errorMsg = 'Influence of Label Ratio'
                        $.get('/detection/model_test/model_evaluation_getDataOfIOLRByKey?key='+iol_data_str, function (data) {
                            // data_chart_4 = data[iol_data_str]
                            data_chart_4 = data.data
                        if (data.code != 200){ errorConfirm(errorMsg); return false; }
                            myChart4.clear();
                            myChart4.setOption(get_option_iolr(data_chart_4))
                        }, 'json');
                    }
                    //var myChart1 = echarts.init(document.getElementById('image1'));
                    
                    return false;
                });
                
            });


            function get_option_ture_false_overall(data_overall){
                var option_overall = {
                    tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' } },
                    legend: { data: [ 'Predicted error sample', 'Predicted correct sample'] },
                    grid: { left: '3%', right: '4%', bottom: '5%', containLabel: true },
                    xAxis: [ { type: 'value',  nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }}],
                    yAxis: [ { type: 'category', axisTick: { show: false }, data: data_overall.intent_class } ],
                    color:['#FF6666','#66CCCC'],
                    dataZoom: [// x轴拖动
                        { type: "slider", realtime: true, height: 15, left:"10%", right:"5%",bottom:"1%", start: 0, end: 100 },
                        { type: 'slider', show: true, yAxisIndex: [0], left: '96%', right:"2%", start: 0, end: 1000 }
                    ],
                    series: [
                        { name: 'Predicted error sample', data: data_overall.left, type: 'bar', stack: 'A', emphasis: { focus: 'series' } },
                        { name: 'Predicted correct sample', data: data_overall.right, type: 'bar', stack: 'A', emphasis: { focus: 'series' } }
                    ]
                }
                return option_overall
            }

            function get_option_ture_false_fine(data_fine){
                var mylegend = new Array();
                var series = new Array();
                for(var key in data_fine){
                    mylegend.push(key),
                    // console.log(key+'\t\t'+data_fine[key])
                    series.push({
                        name: key, data: data_fine[key], type: 'bar', stack: 'total', emphasis: { focus: 'series' }
                    })
                }
                var option_fine = {
                    tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' },
                    formatter:function(params){
                        var result_list = []
                        if(params[0].name == '<UNK>'){
                            result_list.push('< UNK >')
                        }else{
                            result_list.push(params[0].name)
                        }for (i = 0;i < params.length;i++){
                            if (params[i].data != 0){
                                if(params[i].seriesName == '<UNK>'){
                                    row_str = params[i].marker +' < UNK >&nbsp;:&nbsp;&nbsp;&nbsp;'+ params[i].value
                                }else{
                                    row_str = params[i].marker +' '+ params[i].seriesName +'&nbsp;:&nbsp;&nbsp;&nbsp;'+ params[i].value
                                }
                                result_list.push( row_str )
                            }
                        }
                        return result_list.join('<br>');
                        }, 
                    },
                    legend: { type: 'scroll', top: 10, data: mylegend },
                    grid: { left: '3%', right: '4%', bottom: '5%', containLabel: true },
                    xAxis: { type: 'value' ,
                    nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }
                },
                    yAxis: { type: 'category', data: mylegend },
                    dataZoom: [// x轴拖动
                        { type: "slider", realtime: true, height: 15, left:"10%", right:"5%", bottom:"1%",start: 0, end: 100 },
                        { type: 'slider', show: true, yAxisIndex: [0], left: '96%', right:"2%", start: 0, end: 1000 }
                    ],
                    color:[
                        '#5470c6','#91cc75','#fac858','#ee6666','#73c0de','#3ba272','#fc8452','#9a60b4','#ea7ccc','#BBFFFF',
                        '#FFDEAD','#00868B','#66CDAA','#BEBEBE','#00FF7F','#00CD00','#FFFF00','#FFC1C1','#B8860B','#FF8247',
                        '#B22222','#FF4500','#7B68EE','#458B00','#B0C4DE','#CAFF70','#EEE685','#556B2F','#20B2AA','#32CD32',
                        '#8B658B','#BC8F8F','#CD5555','#DEB887','#B22222','#FA8072','#EEE8AA','#EE9A49','#FF69B4','#8B4513',
                        '#EE82EE','#FF8C69','#9932CC','#CDC9C9','#EED5B7','#CD4F39','#EE4000','#CDC1C5','#FF34B3','#FFE4E1',
                        '#F0FFFF','#EE3A8C','#836FFF','#EE00EE','#473C8B','#FF83FA','#436EEE','#CD69C9','#0000FF','#CD96CD',
                        '#1E90FF','#E066FF','#1874CD','#7A378B','#5CACEE','#9A32CD','#00B2EE','#7D26CD','#00688B','#AB82FF',
                        '#6CA6CD','#EED2EE','#8DB6CD','#8B7B8B','#B9D3EE','#6C7B8B','#E0FFFF','#00008B','#D1EEEE','#8B008B',
                        '#8B0000','#90EE90','#DCDCDC','#98F5FF','#FFEBCD','#00C5CD','#FFE4B5','#00CDCD','#79CDCD','#76EEC6',
                        '#FFE4E1','#B4EEB4','#696969','#4EEE94','#6495ED','#00FF7F','#7B68EE','#00FF00','#0000FF','#87CEEB',
                        '#458B00','#00CED1','#BCEE68','#00FFFF','#FFF68F','#7FFFD4','#FFEC8B','#2E8B57','#FFFFE0','#98FB98',
                        '#CDCD00','#00FA9A','#EEC900','#9ACD32','#EEB422','#8FBC8F','#EEDD82','#EEB4B4','#8B6969','#CD5C5C',
                        '#8B4513','#EE6363','#CD853F','#8B3A3A','#F4A460','#CD6839','#B22222','#FFE7BA','#6B8E23','#FFA54F',
                        '#FF7F50','#CD853F','#FF69B4','#8B4513','#FFB6C1','#CD2626','#FF00FF','#BA55D3','#EE9572','#D8BFD8',
                        '#36648B','#9B30FF','#009ACD','#AB82FF','#A4D3EE','#BFEFFF','#8B008B','#FF34B3','#FF8C00','#228B22'
                    ],
                    series: series
                }
                    //console.log('option_fine\t'+JSON.stringify(option_fine['series']))
                return option_fine
            }

            function get_option_iokir(data_iokir){
                var mylegend = [];
                var series = [];
                var xAxis_data = ['0.25','0.5', '0.75'];
                for(var key in data_iokir){
                    mylegend.push(key),
                    series.push({
                    name: key, data: data_iokir[key], type: 'line' })
                }
                var option_iokir = {
                    tooltip: { trigger: 'axis' },
                    legend: { data: mylegend, 
                    padding:[40,80, 0,0],
                    },
                    grid: { left: '10%', right: '20%', bottom: '10%', top:'28%' },
                    xAxis: {
                        name:'KIR',
                        padding:[0,0,0,0],//控制name位置
                        type: 'category',
                        boundaryGap: false,
                        data: xAxis_data,
                        nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }

                    },
                    yAxis: { name:'Score', 
                    nameTextStyle:{
                            fontWeight:550,
                        },
                    padding:[0,0,0,0], 
                    axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    },
                    max:function(value){
                    if(parseInt(value.max % 10) <5){
                        
                        return (parseInt(value.max / 10)*10)+10;  
                    }else{
                        return (parseInt(value.max / 10)*10)+20;
                        }
                    
                }
                },
                    series: series
                }
                return option_iokir
            }

            function get_option_iolr(data_iolr){
                var mylegend = [];
                var series = [];
                var xAxis_data = ['0.2', '0.4', '0.6', '0.8', '1.0'];
                for(var key in data_iolr){
                    mylegend.push(key),
                    series.push({ name: key, data: data_iolr[key], type: 'line'})
                }
                var option_fine = {
                    tooltip: { trigger: 'axis' },
                    legend: { data: mylegend, 
                        padding:[40,80, 0,0],
                    },
                    grid: { left: '10%', right: '23%', bottom: '10%', top:'28%' },
                    xAxis: {
                        name:'LR',
                        padding:[0,0,0,0],//控制name位置
                        type: 'category',
                        boundaryGap: false,
                        data: xAxis_data,
                        nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    }
                    },
                    yAxis: {name:'Score', padding:[0,0,0,0],
                    nameTextStyle:{
                            fontWeight:550,
                        },
                        axisLabel:{
                            show: true,
                            textStyle:{
                            fontWeight: 550,
                            fontSize:12
                        }
                    } ,
                max:function(value){
                    // return value.max +10;
                    // return Math.ceil(value.max)+10;
                    if(parseInt(value.max % 10) <5){
                        
                        return (parseInt(value.max / 10)*10)+10;  
                    }else{
                        return (parseInt(value.max / 10)*10)+20;
                        }
                    
                }

                },
                    series: series
                }
                return option_fine
            }

            function errorConfirm(errorMsg){
                var baseErr = ': There is no data for this combination ！！！'
                layer.confirm(
                    errorMsg + baseErr,
                    { icon:6, btn:['Confirm'], title:'Attention Please' }
                )
            }

            function init_show_1(){
                // dataset_name_select_1 = layui.jquery('#dataset_name_select_1').val()
                // Known_Intent_Ratio_1 = layui.jquery('#Known_Intent_Ratio_1').val()
                // Annotated_Ratio_1 = layui.jquery('#Annotated_Ratio_1').val()
                // model_detection_1 = layui.jquery('#model_detection_1').val()
                dataset_name_select_1 = 'banking'
                Known_Intent_Ratio_1 = '0.75'
                Annotated_Ratio_1 = '1.0'
                model_detection_1 = 'ADB'
                var key_ture_false = dataset_name_select_1 + '_'+ Known_Intent_Ratio_1 + '_' + Annotated_Ratio_1 + '_' + model_detection_1
                //image1    Overall Performance
                var myChart1 = echarts.init(document.getElementById('image1'));
                //image2    Error Analyze
                var myChart2 = echarts.init(document.getElementById('image2'));
                layui.jquery.get('/detection/model_test/model_evaluation_getDataOfTFOverallByKey?key='+key_ture_false, function (data) {
                var errorMsg = 'Overall Performance '
                    data_chart_1 = data.data;
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                    myChart1.clear();
                    myChart1.setOption(get_option_ture_false_overall(data_chart_1));
                    },'json');
                layui.jquery.get('/detection/model_test/model_evaluation_getDataOfTFFineByKey?key='+key_ture_false, function (data) {
                var errorMsg = 'Error Analyze '
                    data_chart_2 = data.data;
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                    myChart2.clear();//清除缓存
                    myChart2.setOption(get_option_ture_false_fine(data_chart_2));
                    }, 'json');
            }

            function init_show_2(){
                // dataset_name_select_2 = layui.jquery('#dataset_name_select_2').val()
                // Label_Ratio_2 = layui.jquery('#Label_Ratio_2').val()
                // Evaluation_Metrics_2 = layui.jquery('#Evaluation_Metrics_2').val()
                dataset_name_select_2 = 'banking'
                Label_Ratio_2 = '0.8'
                Evaluation_Metrics_2 = 'F1'
                var key_ture_false = dataset_name_select_1 + '_'+ Known_Intent_Ratio_1 + '_' + Annotated_Ratio_1 + '_' + model_detection_1
                iok_data_str = "detection_"+dataset_name_select_2+"_"+Label_Ratio_2+"_"+Evaluation_Metrics_2
                var myChart3 = echarts.init(document.getElementById('image3'));
                var errorMsg = 'Influence of Known Intent Ratio'
                // layui.jquery.get('/static/jsons/open_intent_detection/json_detection_IOKIR.json', function (data) {
                layui.jquery.get('/detection/model_test/model_evaluation_getDataOfIOKIRByKey?key='+iok_data_str, function (data) {
                    // console.log('500:'+iok_data_str)
                    // console.log('502:'+JSON.stringify(data))
                    data_chart_3 = data.data
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                    myChart3.clear();
                    myChart3.setOption(get_option_iokir(data_chart_3))
                }, 'json');
            }
            function init_show_3(){
                // dataset_name_select_3 = layui.jquery('#dataset_name_select_3').val()
                // Known_Intent_Ratio_3 = layui.jquery('#Known_Intent_Ratio_3').val()
                // Evaluation_Metrics_3 = layui.jquery('#Evaluation_Metrics_3').val()
                dataset_name_select_3 = 'banking'
                Known_Intent_Ratio_3 = '0.75'
                Evaluation_Metrics_3 = 'F1'
                iol_data_str = "detection_"+dataset_name_select_3+"_"+Known_Intent_Ratio_3+"_"+Evaluation_Metrics_3
                var myChart4 = echarts.init(document.getElementById('image4'));
                var errorMsg = 'Influence of Label Ratio'
                // layui.jquery.get('/static/jsons/open_intent_detection/json_detection_IOLR.json', function (data) {
                layui.jquery.get('/detection/model_test/model_evaluation_getDataOfIOLRByKey?key='+iol_data_str, function (data) {
                    // data_chart_4 = data[iol_data_str]
                    data_chart_4 = data.data
                    if (data.code != 200){ errorConfirm(errorMsg); return false; }
                    myChart4.clear();
                    myChart4.setOption(get_option_iolr(data_chart_4))
                }, 'json');
            }


            </script>
        <script>
        // console.log('运行了竟然');
        init_show_1();
        init_show_2();
        init_show_3();
        
        </script>
    </body>

</html>