<!DOCTYPE HTML>
<html>
    <head>
        <title>New Intent Discovery System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/main.css" />
        <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        
        
    </head>
    <body >

   
    <div class="layui-col-md12">
      <div class="layui-card">
            <div class="layui-card-header"></div>
            <div class="layui-card-header" style ="align:'center'">
                <div style="font-weight:700; font-size:26px;color:#555555;text-align:center" >TEXTOIR Group</div>
            </div>
            <div class="layui-card-body">
                    <p style="font-weight:700; font-size:20px;color:#555555;padding-left:20px">
                    <img src="/static/img/handbook/home.png" width="30px"; height="30px;" style="vertical-align:middle"/>
                    <a href="https://thuiar.github.io" style="text-decoration:none;color:#333;" target="_blank">THUIAR</a></p>
                    <div class="layui-input-inline" style="padding: 30px;">
                        <div class="layui-input-inline">
                            <p style="font-size:19px;color:#333;">Intelligent Information Processing and<br>
                                 Advanced Control Software Technology <br>Research Team</p><br>
                            <p style="font-size:15px;color:#555;">State Key Laboratory of Intelligent Technology and 
                                Systems, <br>Department of Computer Science and Technology,<br>
                                Tsinghua University</p><br>
                                <i class="fa fa-anchor" style="font: size 25px;" aria-hidden="true"></i>TEXTOIR Developed by <a href="https://thuiar.github.io" style="text-decoration:none;color:#333;" target="_blank">THUIAR</a> Team.</b></p>
                                <p style="font-size:15px;color:#333;font-family:'Montserrat',sans-serif;padding-left:20px">--- 
                                    <a href="https://github.com/HanleiZhang" style="text-decoration:none;color:#333;"  target="_blank">@ZhangHanlei</a>,
                                    <a href="https://github.com/XTenLee" style="text-decoration:none;color:#333;"  target="_blank">@LiXiaoteng</a>, 
                                    <a href="https://github.com/PandasZhang"  style="text-decoration:none;color:#333;" target="_blank">@ZhangPanpan</a><br>
                                    Directed by <a href="https://thuiar.github.io/author/hua-xu/"  style="text-decoration:none;color:#333;" target="_blank">Professor Xu Hua</a></p><br>
                        </div>

                        <div class="layui-input-inline" style="width: 50%;">
                            <img style="align:middle;height:100%;width:90%;" src="/static/img/aboutus/aboutus-01.jpg">
                        </div>
                    </div>
            </div><br>
                <p style="font-weight:700; font-size:20px;color:#555555;padding-left:20px">
                    <img src="/static/img/aboutus/Fantasy.png" width="35px"; height="35px;" style="vertical-align:middle"/>
                    Main Research Direction</p><br>

                <div class="layui-input-inline" style="padding: 20px;">
                    <div class="layui-input-inline" style="padding: 20px;text-align:center;width:31%">
                        <div class="featurette-icon" style="padding:10px;">
                        <i class="fas fa-code-branch"  style="font-size:30px;color:#333;text-align:center;"></i></div>
                        <p style="font-size:17px;color:#333;font-family:'Montserrat',sans-serif;">Multi-modal Intelligent Information Processing</p><br>
                    </div>
                    <div class="layui-input-inline" style="padding: 20px;text-align:center;width:31%">
                        <div class="featurette-icon" style="padding:10px;"><i class="fas fa-robot"  style="font-size:30px;color:#333;text-align:center;"></i></div>
                        <p style="font-size:17px;color:#333;font-family:'Montserrat',sans-serif;">Key Technologies of Intelligent Mobile Robots</p><br>
                        
                    </div>
                    <div class="layui-input-inline" style="padding: 20px;text-align:center;width:31%">
                        <div class="featurette-icon" style="padding:10px;"><i class="fas fa-memory"  style="font-size:30px;color:#333;text-align:center;"></i></div>
                        <p style="font-size:17px;color:#333;font-family:'Montserrat',sans-serif;">Research on Intelligent Optimization Method</p><br>
                        
                    </div>
            </div>
                <p style="font-weight:700; font-size:20px;color:#555555;padding-left:25px">
                <img src="/static/img/aboutus/content.png" width="30px"; height="30px;" style="vertical-align:middle;"/>
                Contact Us</p>
                <div class="layui-form-item" style="padding: 50px;">
                    <div class="layui-form-item">
                        <i class="fas fa-envelope fa-2x"  style="font-size:17px;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:15px;color:#555;font-family:inherit;">xuhua@tsinghua.edu.cn</span></i>
                    </div>

                    <div class="layui-form-item">
                        <i class="fas fa-map-marker fa-2x"  style="font-size:17px;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:15px;color:#555;font-family:inherit;">Shuangqing Road 30, Haidian District, Beijing 100084</span></i>
                    </div>

                    <div class="layui-form-item">
                        <i class="fas fa-compass fa-2x"  style="font-size:17px;color:#333;text-align:center;">&nbsp;&nbsp;<span style="font-size:15px;color:#555;font-family:inherit;">4-506, FIT Building, Tsinghua University</span></i>
                    </div>
               </div>

            </div>
            </div>
        
            </div>
            <div class="copyright" style="margin-bottom:40px;text-align:center;">&copy; THUIAR 2021</div>
      </div>
    </div>

        
        <script>layui.use(['carousel'],
            function() {
                var carousel = layui.carousel;
                //图片轮播
                carousel.render({
                    elem: '#carousel01'
                    ,width: '100%'
                    ,interval: 3000
                }); 

            });
        </script>
    </body>
</html>